<% layout('layout/layout') %>

    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <img class="img-fluid w-100 h-100 rounded" src="img/about/mission.webp" alt="">
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="h-100">
                        <p class="text-lg fs-4 mb-3">Our mission is to expand quality
                            healthcare access to under resourced
                            and remote communities through
                            capacity building, innovation, and
                            technology.</p>
                        <p class="text-lg fs-4 mb-5">If you are looking to make a difference
                            as a doctor, nurse, medical graduate,
                            medical student, or community health
                            worker, join us to expand healthcare
                            delivery in your community. Let’s work
                            together to make Universal Health
                            Coverage a reality.</p>
                        <a class="btn btn-primary py-2 px-3 me-3" href="/signup">
                            Member Signup
                            <div class="d-inline-flex btn-sm-square bg-white text-primary rounded-circle ms-2">
                                <i class="fa fa-arrow-right"></i>
                            </div>
                        </a>
                        <a class="btn btn-outline-primary py-2 px-3" href="/partner">
                            Get Involved
                            <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                                <i class="fa fa-arrow-right"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

    <!-- Focus Areas Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 800px;">
                <img class="img-fluid w-50 h-50" src="img/about/focus.webp" alt="">
            </div>
            <div class="row g-4 justify-content-center">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item bg-white text-center h-100 p-4 p-xl-5">
                        <img class="img-fluid mb-4" src="img/about/academy.webp" alt="">
                        <h4 class="mb-3">Frontline Health Champions</h4>
                        <p class="mb-4">Capacity Building</p>
                        <a class="btn btn-outline-primary px-3" href="/focus">
                            Learn More
                            <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                                <i class="fa fa-arrow-right"></i>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item bg-white text-center h-100 p-4 p-xl-5">
                        <img class="img-fluid mb-4" src="img/about/development.webp" alt="">
                        <h4 class="mb-3">Workforce Development</h4>
                        <!-- <p class="mb-4">Development and Continuing Education for healthcare practitioners</p> -->
                        <a class="btn btn-outline-primary px-3" href="/focus">
                            Learn More
                            <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                                <i class="fa fa-arrow-right"></i>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item bg-white text-center h-100 p-4 p-xl-5">
                        <img class="img-fluid mb-4" src="img/about/ai.webp" alt="">
                        <h4 class="mb-3">Digital Health Initiatives</h4>
                        <!-- <p class="mb-4">Healthcare Services Brought to School-going Children, through telemedicine
                            services</p> -->
                        <a class="btn btn-outline-primary px-3" href="/focus">
                            Learn More
                            <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                                <i class="fa fa-arrow-right"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Focus Areas End -->