<% layout('layout/layout') %>

    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 800px;">
                <img class="img-fluid w-50 h-50" src="img/about/mission.webp" alt="">
            </div>
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="position-relative overflow-hidden h-100" style="max-width: 800px;">
                        <img class="w-100 h-100 rounded-2 img-fluid" src="img/home/mission.jpg" alt=""
                            style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="h-100">
                        <p class="text-lg fs-4 mb-3">Our mission is to expand quality
                            healthcare access to under resourced
                            and remote communities through
                            capacity building, innovation, and
                            technology.</p>
                        <p class="text-lg fs-4 mb-5">If you are looking to make a difference
                            as a doctor, nurse, medical graduate,
                            medical student, or community health
                            worker, join us to expand healthcare
                            delivery in your community. Let’s work
                            together to make Universal Health
                            Coverage a reality.</p>
                        <a class="btn btn-primary py-2 px-3 me-3" href="/signup">
                            Member Signup
                            <div class="d-inline-flex btn-sm-square bg-white text-primary rounded-circle ms-2">
                                <i class="fa fa-arrow-right"></i>
                            </div>
                        </a>
                        <a class="btn btn-outline-primary py-2 px-3" href="/donate">
                            Get Involved
                            <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                                <i class="fa fa-arrow-right"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

    <!-- Healthcare Champions Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 800px;">
                <img class="img-fluid w-50 h-50" src="img/focus/champions.webp" alt="">
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item position-relative rounded overflow-hidden">
                        <div class="overflow-hidden">
                            <img class="w-100 h-100 rounded-2 img-fluid" src="img/focus/humanitarian.webp" alt="">
                        </div>
                        <div class="team-text bg-light text-center p-4">
                            <h5>Community Health Worker</h5>
                            <p class="text-primary">I am a healthcare champion.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="team-item position-relative rounded overflow-hidden">
                        <div class="overflow-hidden">
                            <img class="w-100 h-100 rounded-2 img-fluid" src="img/nurse.webp" alt="">
                        </div>
                        <div class="team-text bg-light text-center p-4">
                            <h5>Nurses</h5>
                            <p class="text-primary">I am a healthcare champion.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="team-item position-relative rounded overflow-hidden">
                        <div class="overflow-hidden">
                            <img class="w-100 h-100 rounded-2 img-fluid" src="img/focus/smiling.webp" alt="">
                        </div>
                        <div class="team-text bg-light text-center p-4">
                            <h5>Medical Students</h5>
                            <p class="text-primary">I am a healthcare champion.</p>
                            <!-- <div class="team-social text-center">
                                    <a class="btn btn-square" href=""><i class="fab fa-facebook-f"></i></a>
                                    <a class="btn btn-square" href=""><i class="fab fa-twitter"></i></a>
                                    <a class="btn btn-square" href=""><i class="fab fa-instagram"></i></a>
                                </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Healthcare Champions End -->