<% layout('layout/academy-layout') %>


    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s"">
                <img class=" img-fluid w-100 h-100" src="img/home/academy.png" alt="">
                <a class="btn btn-primary py-2 px-3 mb-4" href="https://mhealth4africa.lecturio.com/" target="_blank">
                    MH4A Digital Academy
                    <div class="d-inline-flex btn-sm-square bg-white text-primary rounded-circle ms-2">
                        <i class="fa fa-arrow-right"></i>
                    </div>
                </a>
            </div>
        </div>
    </div>