<% layout('layout/layout') %>


    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s"">
                <img class="img-fluid w-70 h-70" src="img/academy/clinic.webp" alt="">
            </div>
        </div>
    </div>

    <div class="container-xxl py-3">
        <div class="container">
            <p class="fs-4 text-center"><b>BRIDGING THE GAP: REVOLUTIONALIZING MEDICAL EDUCATION IN AFRICA</b></p>
            <div class="row g-5 mt-3">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="position-relative overflow-hidden h-100" style="max-width: 800px;">
                        <img class="w-100 h-100 rounded-2 img-fluid" src="img/academy/clinician.jpg" alt="" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 col-md-8 wow fadeIn" data-wow-delay="0.1s">
                    <p class="mb-4 fs-5">In Africa, access to quality
                        medical education remains a
                        significant challenge, hindering
                        the growth and effectiveness of
                        healthcare systems across the
                        continent. However, with the
                        advent of digital technology, we
                        have an unprecedented
                        opportunity to address this gap
                        and empower healthcare
                        practitioners at all levels.
                        Introducing Mhealth4Africa
                        Digital Academy a cutting-edge
                        digital medical education
                        platform designed specifically for community health workers, nurses, medical students, and
                        healthcare practitioners. Our platform is dedicated to revolutionizing medical education in
                        Africa by
                        providing accessible, interactive, and comprehensive learning experiences tailored to the unique
                        needs of African healthcare professionals.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-xxl py-3">
        <div class="container">
            <p class="fs-4"><b>Here are the key benefits of using Mhealth4Africa Digital Academy:</b></p>
            <div class="row g-5 mt-3">
                <div class="col-lg-6 col-md-8 wow fadeIn" data-wow-delay="0.1s">
                    <p class="mb-4 fs-5"><b>Accessibility:</b> We recognize the
                        diverse geographical and
                        infrastructural challenges faced
                        by healthcare professionals in
                        Africa. That's why Mhealth4Africa
                        Digital Academy is accessible
                        anytime, anywhere, through any
                        internet-enabled device. Whether
                        you're in a bustling city or a
                        remote rural village, our platform
                        ensures that quality medical
                        education is always within reach.</p>
                    <p class="mb-4 fs-5"><b>Tailored Content:</b> Our curated
                        curriculum covers a wide range of
                        topics relevant to African
                        healthcare, including infectious diseases, maternal health, primary care, and more. By
                        addressing
                        local healthcare priorities, we equip healthcare practitioners with the knowledge and skills
                        needed
                        to tackle the most pressing health challenges facing their communities.</p>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="position-relative overflow-hidden h-100" style="max-width: 800px;">
                        <img class="w-100 h-100 rounded-2 img-fluid" src="img/academy/thirdman.webp" alt=""
                            style="object-fit: cover;">
                    </div>
                </div>
            </div>
            <div class="row g-5 mt-3">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="position-relative overflow-hidden h-100" style="max-width: 800px;">
                        <img class="w-100 h-100 rounded-2 img-fluid" src="img/academy/dhedu.jpg" alt=""
                            style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 col-md-8 wow fadeIn" data-wow-delay="0.1s">
                    <p class="mb-4 fs-5"><b>Interactive Learning:</b> Gone are the
                        days of passive learning through
                        textbooks and lectures.
                        Mhealth4Africa Digital Academy
                        employs interactive multimedia
                        content, simulations, case studies,
                        and quizzes to engage learners and
                        reinforce understanding. Our platform
                        fosters active participation and critical
                        thinking, leading to more effective
                        learning outcomes.</p>
                    <p class="mb-4 fs-5"><b>Upskilling Opportunities:</b>
                        Continuous professional development
                        is essential for staying updated with
                        the latest medical advancements and best practices. Mhealth4Africa Digital Academy offers a
                        range of upskilling opportunities, including certification courses, workshops, and virtual
                        conferences, allowing healthcare professionals to advance their careers and deliver higher
                        quality
                        care.</p>
                </div>
            </div>
            <div class="row g-5 mt-3">
                <div class="col-lg-6 col-md-8 wow fadeIn" data-wow-delay="0.1s">
                    <p class="mb-4 fs-5"><b>Health Capacity Building:</b> By empowering
                        healthcare practitioners with knowledge and skills,
                        Mhealth4Africa Digital Academy contributes to
                        building stronger and more resilient healthcare
                        systems across Africa. Our platform not only
                        enhances individual competencies but also
                        strengthens the collective capacity of healthcare

                        teams to deliver comprehensive and patient-
                        centered care.</p>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="position-relative overflow-hidden h-100" style="min-height: 350px;">
                        <img class="w-100 h-100 rounded-2 img-fluid" src="img/focus/smiling.webp" alt=""
                            style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-8 wow fadeInUp" data-wow-delay="0.1s">
                    <p class="mb-4 fs-5">Together, we can empower healthcare professionals, improve health outcomes, and
                        create a
                        healthier future for all Africans. Embark on your journey towards excellence in healthcare education
                        today!</p>
                    <p class="mb-4 fs-5"><b>JOIN US! LET’S MAKE UNIVERSAL HEALTH COVERAGE A REALITY FOR OUR COMMUNITIES</b>
                    </p>
                    <a class="btn btn-outline-primary px-3" href="/signup">
                        Sign Up
                        <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                            <i class="fa fa-arrow-right"></i>
                        </div>
                    </a>
                    <a class="btn btn-outline-primary px-3" href="/checkout">
                        Academy
                        <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                            <i class="fa fa-arrow-right"></i>
                        </div>
                    </a>
                </div>
                
            </div>
        </div>
    </div>