<% layout('layout/admin-layout') %>

    <nav class="navbar" style="background-color: #e3f2fd;">
        <div class="container-fluid">
            <a class="navbar-brand"><img src="img/brandlog.png" alt="Logo" width="180" height="132"
                    class="d-inline-block align-text-top"></a>
            <span class="navbar-text text-center">
                <b>Admin Dashboard</b>
            </span>
        </div>
    </nav>

    <div class="container-xxl py-3">
        <div class="container">
            <p class="fs-4 text-center">Access the various form submissions below</p>
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="card">
                        <img src="img/brandlog.png" class="card-img-top" alt="..." style="object-fit: contain;">

                        <div class="card-body">
                            <h5 class="card-title">Member Signups</h5>
                            <p class="card-text">Community Health Workers, Medical Practitioners, Nurses and Medical Students</p>
                            <a href="/admin/members" class="btn btn-primary">See all</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-8 wow fadeIn" data-wow-delay="0.1s">
                    <div class="card">
                        <img src="img/brandlog.png" class="card-img-top" alt="..." style="object-fit: contain;">

                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-xxl py-3">
        <div class="container">
            <p class="fs-4 text-center">Access the various form submissions below</p>
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="card">
                        <img src="img/brandlog.png" class="card-img-top" alt="..." style="object-fit: contain;">

                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-8 wow fadeIn" data-wow-delay="0.1s">
                    <div class="card">
                        <img src="img/brandlog.png" class="card-img-top" alt="..." style="object-fit: contain;">

                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-xxl py-3">
        <div class="container">
            <p class="fs-4 text-center">Access the various form submissions below</p>
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="card">
                        <img src="img/brandlog.png" class="card-img-top" alt="..." style="object-fit: contain;">

                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-8 wow fadeIn" data-wow-delay="0.1s">
                    <div class="card">
                        <img src="img/brandlog.png" class="card-img-top" alt="..." style="object-fit: contain;">

                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-xxl py-3">
        <div class="container">
            <p class="fs-4 text-center">Access the various form submissions below</p>
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="card">
                        <img src="img/brandlog.png" class="card-img-top" alt="..." style="object-fit: contain;">

                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-8 wow fadeIn" data-wow-delay="0.1s">
                    <div class="card">
                        <img src="img/brandlog.png" class="card-img-top" alt="..." style="object-fit: contain;">

                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>