<% layout('layout/admin-layout') %>

    <nav class="navbar" style="background-color: #e3f2fd;">
        <div class="container-fluid">
            <a class="navbar-brand"><img src="img/brandlog.png" alt="Logo" width="180" height="132"
                    class="d-inline-block align-text-top"></a>
            <span class="navbar-text text-center">
                <b>Admin Dashboard</b>
            </span>
        </div>
    </nav>

    