<% layout('layout/layout') %>

  <div class="container">

    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8 text-center">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s"">
          <img class=" img-fluid w-100 h-100" src="img/home/academy.webp" alt="">
        </div>
      </div>
      <div class="col-lg-6 col-md-8 text-center">
        <p>Proceed to pay $140.00 via PayPal or Debit Card. This will give you access to the academy.</p>
        <div id="paypal-button-container"></div>
        <p id="result-message"></p>
      </div>
    </div>
    <div class="row justify-content-center">
      <p>WHY YOU SHOULD SIGN UP FOR ACCESS TO MHEALTH4AFRICA DIGITAL ACADEMY</p>
      <ol>
        <li>Tailored Content for Healthcare Professionals: The platform offers specialized courses
          tailored to the needs and interests of healthcare professionals, including nurses, medical
          students, practitioners, and community health workers. The content is designed to
          address specific challenges and opportunities encountered in clinical practice and public
          health settings.</li>
        <li>Enhanced Patient Care: By acquiring knowledge in mobile health technologies,
          participants can leverage innovative tools and solutions to enhance patient care delivery.</li>
        <li>Continuing Education Credits: Many healthcare professions require practitioners to earn
          continuing education credits to maintain licensure or certification. The courses offered by
          the Mhealth4Africa Digital Academy can help healthcare professionals fulfill their
          continuing education requirements, ensuring compliance with regulatory standards.</li>
        <li>Continuing Education Credits: Many healthcare professions require practitioners to earn
          continuing education credits to maintain licensure or certification. The courses offered by
          the Mhealth4Africa Digital Academy can help healthcare professionals fulfill their
          continuing education requirements, ensuring compliance with regulatory standards.</li>
        <li>Cost-Effective Learning: Despite the nominal fee of USD135.00 for users, the value
          proposition of the learning platform far exceeds the investment. Participants gain access
          to high-quality education, expert-led instruction by Professors from Harvard University,
          Johns Hopkins, Stanford, Yale, interactive learning resources, and networking
          opportunities—all at a fraction of the cost of traditional continuing education programs or
          specialized courses.</li>
      </ol>
      <p>Overall, by enrolling in the Mhealth4Africa Digital Academy, nurses, medical students,
        healthcare practitioners, and community health workers can acquire essential skills, stay
        abreast of industry trends, and leverage technology to improve patient care, ultimately
        contributing to their professional development and the advancement of healthcare delivery.</p>
    </div>
  </div>
  <script
    src="https://www.paypal.com/sdk/js?client-id=ATo1CK00WQU_gqbZHrlDFf16OUoM3hmOAxfob6Kyd3YFMoO-vJZJJK31qlnqJF2x80Fh7jOk8GHI4n9p&components=buttons&enable-funding=venmo,paylater"
    data-sdk-integration-source="integrationbuilder_sc"></script>
  <script>
    window.paypal
      .Buttons({
        style: {
          shape: "rect",
          //color:'blue', change the default color of the buttons
          layout: "vertical", //default value. Can be changed to horizontal
        },
        async createOrder() {
          try {
            const response = await fetch("/api/orders", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              // use the "body" param to optionally pass additional order information
              // like product ids and quantities
              body: JSON.stringify({
                cart: [
                  {
                    id: "academy101",
                    quantity: "1",
                  },
                ],
              }),
            });

            const orderData = await response.json();

            if (orderData.id) {
              return orderData.id;
            } else {
              const errorDetail = orderData?.details?.[0];
              const errorMessage = errorDetail
                ? `${errorDetail.issue} ${errorDetail.description} (${orderData.debug_id})`
                : JSON.stringify(orderData);

              throw new Error(errorMessage);
            }
          } catch (error) {
            console.error(error);
            resultMessage(`Could not initiate PayPal Checkout...<br><br>${error}`);
          }
        },
        async onApprove(data, actions) {
          try {
            const response = await fetch(`/api/orders/${data.orderID}/capture`, {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
            });

            const orderData = await response.json();
            // Three cases to handle:
            //   (1) Recoverable INSTRUMENT_DECLINED -> call actions.restart()
            //   (2) Other non-recoverable errors -> Show a failure message
            //   (3) Successful transaction -> Show confirmation or thank you message

            const errorDetail = orderData?.details?.[0];

            if (errorDetail?.issue === "INSTRUMENT_DECLINED") {
              // (1) Recoverable INSTRUMENT_DECLINED -> call actions.restart()
              // recoverable state, per https://developer.paypal.com/docs/checkout/standard/customize/handle-funding-failures/
              return actions.restart();
            } else if (errorDetail) {
              // (2) Other non-recoverable errors -> Show a failure message
              throw new Error(`${errorDetail.description} (${orderData.debug_id})`);
            } else if (!orderData.purchase_units) {
              throw new Error(JSON.stringify(orderData));
            } else {
              // (3) Successful transaction -> Show confirmation or thank you message
              // Or go to another URL:  actions.redirect('thank_you.html');
              const transaction =
                orderData?.purchase_units?.[0]?.payments?.captures?.[0] ||
                orderData?.purchase_units?.[0]?.payments?.authorizations?.[0];
              resultMessage(
                `Transaction ${transaction.status}: ${transaction.id}<br><br>Redirecting you to our academy`
              );
              // Redirect to https://mhealth4africa.lecturio.com/
              window.location.href = 'https://mhealth4africa.lecturio.com/';
              console.log(
                "Capture result",
                orderData,
                JSON.stringify(orderData, null, 2)
              );
            }
          } catch (error) {
            console.error(error);
            resultMessage(
              `Sorry, your transaction could not be processed...<br><br>${error}`
            );
          }
        },
      })
      .render("#paypal-button-container");

    // Example function to show a result to the user. Your site's UI library can be used instead.
    function resultMessage(message) {
      const container = document.querySelector("#result-message");
      container.innerHTML = message;
    }

  </script>