<% layout('layout/layout') %>


    <!-- Donate Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row g-5 mb-8">
                <div class="col-lg-6 col-md-8 wow fadeIn" data-wow-delay="0.1s">
                    <p class="fs-4">Donate Now</p>
                    <h1 class="display-6 mb-5">Help us make more strides towards Universal Healthcare Coverage</h1>
                    <p class="mb-0">Your donation will help in advancing programs and initiatives.</p>
                </div>
                <div class="col-lg-6 col-md-8 wow fadeInUp pb-8" data-wow-delay="0.1s">
                    <div class="position-relative overflow-hidden h-100" style="max-width: 400px;">
                        <img class="position-relative rounded-2" src="img/paypal.png" alt="" style="object-fit: contain; width: 50%; height: auto;">
                        <div class="mb-8">
                            <a class="btn btn-outline-primary px-3" href="https://www.paypal.com/donate/?hosted_button_id=74APJC9XCQT8J">
                                Click Here To Donate With Paypal
                                <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                                    <i class="fa fa-arrow-right"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- Donate End -->