<% layout('layout/layout') %>


    <!-- Focus Area One Start -->
    <div class="container-xxl py-5" id="#frontline">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <div class="d-inline-block rounded-pill bg-secondary text-white py-1 px-3 mb-3">Frontline Healthcare
                    Champions Recruitment</div>
                <h1 class="display-6 mb-5">I am a Frontline Healthcare Champion!</h1>
            </div>
            <div class="row g-4 justify-content-center">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div
                        class="service-item bg-white text-center h-100 p-4 p-xl-5 d-flex flex-column justify-content-center align-items-center">
                        <i class="fa-solid fa-user-nurse fa-3x mb-3" style="color: #F38326;"></i>
                        <p class="mb-0 fs-5">
                            The deployment of health practitioners in sub-Saharan Africa (SSA) has many challenges
                            including recruitment and placement of medical graduates, physicians, nurses, community
                            health workers especially, in rural areas. This unemployment crisis makes it difficult for
                            most African governments to achieve Universal Healthcare Coverage (UHC) for their citizens.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div
                        class="service-item bg-white text-center h-100 p-4 p-xl-5 d-flex flex-column justify-content-center align-items-center">
                        <i class="fa-solid fa-bed-pulse fa-3x mb-3" style="color: #F38326;"></i>
                        <p class="mb-0 fs-5">
                            Most countries significantly fall short of the 1:1000 doctor-to-patient ratio recommended by
                            the World Health Organization (WHO). Kenya for example, currently has a 1:17000 ratio with
                            huge gaps in health coverage. Mhealth4Africa’s Frontline Healthcare Champions are here to
                            work with public and private health institutions to expand health access.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item bg-white text-center h-100 p-4 p-xl-5 d-flex flex-column justify-content-center align-items-center">
                        <i class="fa-solid fa-user-doctor fa-3x mb-3" style="color: #F38326;"></i>
                        <p class="mb-3 fs-5">
                            If you are looking to make a difference as a doctor, nurse, medical graduate, medical student, or community health worker, join us to expand healthcare delivery in your community. Let’s work together to make Universal Health Coverage a reality. Sign Up as a FRONTLINE HEALTHCARE CHAMPION TODAY!
                        </p>
                        <a class="btn btn-primary py-2 px-3" href="/signup">
                            Member Signup
                            <div class="d-inline-flex btn-sm-square bg-white text-primary rounded-circle ms-2">
                                <i class="fa fa-arrow-right"></i>
                            </div>
                        </a>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
    <!-- Focus Area One End -->

    <!-- Healthcare Champions Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <h1 class="display-6 mb-5">Our healthcare champions.</h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item position-relative rounded overflow-hidden">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="img/ch.webp" alt="">
                        </div>
                        <div class="team-text bg-light text-center p-4">
                            <h5>Community Health Worker</h5>
                            <p class="text-primary">I am a healthcare champion.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="team-item position-relative rounded overflow-hidden">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="img/nurse.webp" alt="">
                        </div>
                        <div class="team-text bg-light text-center p-4">
                            <h5>Nurses</h5>
                            <p class="text-primary">I am a healthcare champion.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="team-item position-relative rounded overflow-hidden">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="img/jd.webp" alt="">
                        </div>
                        <div class="team-text bg-light text-center p-4">
                            <h5>Junior Doctors</h5>
                            <p class="text-primary">I am a healthcare champion.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="team-item position-relative rounded overflow-hidden">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="img/ms.webp" alt="">
                        </div>
                        <div class="team-text bg-light text-center p-4">
                            <h5>Medical Students</h5>
                            <p class="text-primary">I am a healthcare champion.</p>
                            <div class="team-social text-center">
                                <a class="btn btn-square" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Healthcare Champions End -->

    <!-- Focus Area Two Start -->
    <div class="container-xxl py-5" id="#workforce-development">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <div class="d-inline-block rounded-pill bg-secondary text-white py-1 px-3 mb-3">MH4A Workforce
                    Development</div>
            </div>
            <div class="row g-4 justify-content-center">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div
                        class="service-item bg-white text-center h-100 p-4 p-xl-5 d-flex flex-column justify-content-center align-items-center">
                        <i class="fa-solid fa-briefcase fa-3x mb-3" style="color: #F38326;"></i>
                        <p class="mb-0 fs-5">Development and Continuing Education for healthcare practitioners is vital to
                            sustaining healthcare delivery and practice. Mhealth4Africa skills development aims to offer
                            training resources for Nurses, Community Health Workers, Medical Students, Junior Doctors,
                            and other medical staff across Africa.</p>
                    </div>


                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="position-relative overflow-hidden h-100" style="min-height: 400px;">
                        <img class="position-absolute w-100 h-100 pt-5 pe-5" src="img/mh4a.png" alt=""
                            style="object-fit: cover;">
                    </div>
                    <p><b>Preparing the next generation of African Healthcare leaders.</b></p>
                </div>
            </div>
        </div>
    </div>
    <!-- Focus Area Two End -->

    <!-- Focus Area Three Start -->
    <div class="container-xxl py-5" id="#school-telemedicine">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <div class="d-inline-block rounded-pill bg-secondary text-white py-1 px-3 mb-3">School Telemedicine
                    Program</div>
            </div>
            <div class="row g-4 justify-content-center">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="position-relative overflow-hidden h-100" style="min-height: 400px;">
                        <img class="position-absolute w-100 h-100 pt-5 pe-5" src="img/telemed.png" alt=""
                            style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="service-item bg-white text-center h-100 p-4 p-xl-5">
                        <i class="fa-solid fa-stethoscope fa-3x mb-3"  style="color: #F38326;"></i>
                        <p class="mb-3 fs-5">
                            Health issues are among the primary reasons children miss school. With school-based telemedicine, children can get medical care without leaving school. The use of telehealth in schools in low-income, medically underserved areas offers an opportunity to improve health care access and equity. This opportunity is particularly strong in Africa where health professional shortages and transportation challenges are prevalent. The mission of Mhealth4Africa is to improve the health of children by providing every child with annual screenings.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Focus Area Three End -->

    <!-- Contact Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="d-inline-block rounded-pill bg-secondary text-white py-1 px-3 mb-3">Contact Us</div>
                    <h1 class="display-6 mb-5">If You Have Any Query, Please Contact Us</h1>
                    <p class="mb-4">The contact form is currently inactive. Same as the map</p>
                    <form>
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="name" placeholder="Your Name">
                                    <label for="name">Your Name</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="email" placeholder="Your Email">
                                    <label for="email">Your Email</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="subject" placeholder="Subject">
                                    <label for="subject">Subject</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Leave a message here" id="message"
                                        style="height: 100px"></textarea>
                                    <label for="message">Message</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary py-2 px-3 me-3">
                                    Send Message
                                    <div class="d-inline-flex btn-sm-square bg-white text-primary rounded-circle ms-2">
                                        <i class="fa fa-arrow-right"></i>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="position-relative overflow-hidden h-100" style="min-height: 400px;">
                        <img class="position-absolute w-100 h-100 pt-5 pe-5" src="img/boysinblue.jpg" alt=""
                            style="object-fit: cover;">
                        <!-- <img class="position-absolute top-0 end-0 bg-white ps-2 pb-2" src="img/doctorwithtablet.jpg"
                            alt="" style="width: 200px; height: 200px;"> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->