<% layout('layout/layout') %>

    <div class="container-fluid my-5 py-5">
        <!-- Carousel Start -->
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                    aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <!-- <img src="img/gp1.png" class="d-block w-100" alt="">
                    <div class="carousel-caption d-none d-md-block">
                        <a href="https://ipakflukits.com/partners/" target="_blank"><b>Campaign with IPAK</b></a>
                    </div> -->
                    <div style="max-width: 800px; max-height: 600px; margin: auto;">
                        <img src="img/gp1.png" class="d-block w-100" alt="">
                    </div>
                </div>
                <div class="carousel-item">
                    <!-- <img src="img/gp2.png" class="d-block w-100" alt="">
                    <div class="carousel-caption d-none d-md-block">
                        <p style="color: #F38326;"><b>Umbrella Foundation Campaign.</b></p>
                    </div> -->
                    <div style="max-width: 800px; max-height: 600px; margin: auto;">
                        <img src="img/gp2.png" class="d-block w-100" alt="">
                    </div>
                </div>
                <div class="carousel-item">
                    <!-- <img src="img/gp3.png" class="d-block w-100" alt="">
                    <div class="carousel-caption d-none d-md-block">
                        <p style="color: #F38326;"><b>Telemedicine for Remote Villages.</b></p>
                    </div> -->
                    <div style="max-width: 800px; max-height: 600px; margin: auto;">
                        <img src="img/gp3.png" class="d-block w-100" alt="">
                    </div>
                </div>
                <div class="carousel-item">
                    <!-- <img src="img/gp4.png" class="d-block w-100" alt="">
                    <div class="carousel-caption d-none d-md-block">
                        <p style="color: #F38326;"><b>TELEMEDICINE EVENT 2017 WASHINGTON DC</b></p>
                    </div> -->
                    <div style="max-width: 800px; max-height: 600px; margin: auto;">
                        <img src="img/gp4.png" class="d-block w-100" alt="">
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <!-- Carousel End -->
    </div>