<% layout('layout/layout') %>

    <div class="container-fluid my-5 py-5">
        <!-- Gallery Start -->
        <div class="container-fluid my-5 py-5">
            <div class="container">
                <div class="row g-4 justify-content-center">
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="position-relative overflow-hidden h-100" style="min-height: 400px;">
                            <img class="position-absolute w-100 h-100 pt-5 pe-5" src="img/gp1.png" alt=""
                                style="object-fit: cover;">
                        </div>
                        <a href="https://ipakflukits.com/partners/" target="_blank"><b>Campaign with IPAK</b></a>
                    </div>
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="position-relative overflow-hidden h-100" style="min-height: 400px;">
                            <img class="position-absolute w-100 h-100 pt-5 pe-5" src="img/gp2.png" alt=""
                                style="object-fit: cover;">
                        </div>
                        <p style="color: #F38326;"><b>Umbrella Foundation Campaign.</b></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Gallery End -->
        <!-- Gallery Start -->
        <div class="container-fluid my-5 py-5">
            <div class="container">
                <div class="row g-4 justify-content-center">
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="position-relative overflow-hidden h-100" style="min-height: 400px;">
                            <img class="position-absolute w-100 h-100 pt-5 pe-5" src="img/gp3.png" alt=""
                                style="object-fit: cover;">
                        </div>
                        <p style="color: #F38326;"><b>Telemedicine for Remote Villages.</b></p>
                    </div>
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="position-relative overflow-hidden h-100" style="min-height: 400px;">
                            <img class="position-absolute w-100 h-100 pt-5 pe-5" src="img/gp4.png" alt=""
                                style="object-fit: cover;">
                        </div>
                        <p style="color: #F38326;"><b>TELEMEDICINE EVENT 2017 WASHINGTON DC</b></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Gallery End -->
        <!-- Gallery Start -->
        <!-- <div class="container-fluid my-5 py-5" data-parallax="scroll" data-image-src="img/scaled-banner.png">
            <div class="container">
                <div class="row g-4 justify-content-center">
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="position-relative overflow-hidden h-100" style="min-height: 400px;">
                            <img class="position-absolute w-100 h-100 pt-5 pe-5" src="img/telemed.png" alt=""
                                style="object-fit: cover;">
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="position-relative overflow-hidden h-100" style="min-height: 400px;">
                            <img class="position-absolute w-100 h-100 pt-5 pe-5" src="img/mh4a.png" alt=""
                                style="object-fit: cover;">
                        </div>
                        <p><b>Preparing the next generation of African Healthcare leaders.</b></p>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- Gallery End -->
    </div>