<% layout('layout/home-layout') %>

    <!-- Hero section start -->
    <div class="hero container-fluid d-flex align-items-center justify-content-around">
        <video autoplay loop muted class="custom-video">
            <source src="video/banner2.mp4" type="video/mp4">

            Your browser does not support the video tag.
        </video>
        <div class="row g-5 d-flex justify-content-center">
            <div class="col-lg-8">
                <p class="display-6 text-white mb-3 animated slideInDown text-white">Mhealth4Africa</p>
                <p style="color: white;" class="fs-5 mb-5 animated slideInDown">Our mission is to expand quality
                    healthcare
                    access to under resourced and remote
                    communities through capacity building, innovation, and technology.</p>
                <a class="btn btn-primary py-2 px-3 animated slideInDown" href="/about">
                    Learn More
                    <div class="d-inline-flex btn-sm-square bg-white text-primary rounded-circle ms-2">
                        <i class="fa fa-arrow-right"></i>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- Hero section end -->

    <!-- CTA Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="position-relative overflow-hidden h-100" style="min-height: 800px;">
                        <img class="position-absolute w-100 h-100 pt-5 pe-5 rounded-2" src="img/focus/portrait.webp"
                            alt="" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="position-relative overflow-hidden h-100" style="max-width: 800px;">
                        <img class="position-absolute w-100 h-100 pt-5 pe-5 rounded-2" src="img/focus/heart.webp" alt=""
                            style="object-fit: cover;">
                    </div>
                </div>
            </div>
            <div class="row g-5 mt-2 d-flex justify-content-center">
                <div class=" col-lg-12 col-md-8 wow fadeIn" data-wow-delay="0.1s">
                    <p class="mb-4 fs-5">Nurses play a vital role in the life of patients. They work all day and night
                        taking
                        care of patients, giving
                        comfort to their families, and sometimes serving as the closest confidant. Mhealth4Africa
                        salutes our
                        Community Health Workers, Nurses and Health Practitioners who serve at the frontlines in
                        healthcare
                        facilities around the world improving healthcare access and equity. Our programs are tailored
                        towards
                        capacity building, workforce development, innovation and technology to support health
                        practitioners
                        aquire industry relevant skills to continue improving patient care, advancing their careers, and
                        employability.</p>
                </div>
            </div>
        </div>
        <!-- CTA End -->

        <!-- Focus Areas Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 800px;">
                    <img class="img-fluid w-50 h-50" src="img/about/focus.webp" alt="">
                </div>
                <div class="row g-4 justify-content-center">
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="service-item bg-white text-center h-100 p-4 p-xl-5">
                            <img class="img-fluid mb-4" src="img/about/ai2.png" alt="">
                            <h4 class="mb-3 mt-4">Digital Health Initiatives</h4>
                            <a class="btn btn-outline-primary px-3" href="/focus">
                                Learn More
                                <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                                    <i class="fa fa-arrow-right"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="service-item bg-white text-center h-100 p-4 p-xl-5">
                            <img class="img-fluid mb-8 w-50 h-50" src="img/focus/render.webp" alt="">
                            <h4 class="mb-3 pt-8">Capacity Building</h4>
                            <a class="btn btn-outline-primary px-3" href="/focus">
                                Learn More
                                <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                                    <i class="fa fa-arrow-right"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="service-item bg-white text-center h-100 p-4 p-xl-5">
                            <img class="img-fluid mb-4" src="img/about/development.webp" alt="">
                            <h4 class="mb-3">Workforce Development</h4>
                            <a class="btn btn-outline-primary px-3" href="/focus">
                                Learn More
                                <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                                    <i class="fa fa-arrow-right"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Focus Areas End -->

        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-5">
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                        <p class="mb-4 fs-5">Mhealth4Africa Digital Academy is an opportunity to upgrade your skills and
                            secure
                            career placments in
                            your community or globally. Learning paths for medicine includes MD PO and PA programs while
                            learning paths for nursing include NP RN and LPN programs. Another feature of the academy is
                            the
                            Medical College Admission Test (MCAT) and National Council Licensure Examination for
                            Registered
                            Nurses (NCLEX-RN) review courses, lessons and exam prep, that will give Nurses, Medical
                            Students and
                            Practitioners, a pathway to practice Nursing and Medicine in USA, Canada, Australia and many
                            other
                            countries.</p>
                    </div>
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="position-relative overflow-hidden h-100" style="max-width: 800px;">
                            <img class="position-absolute w-100 h-100 rounded-2" src="img/focus/working-nurse.webp"
                                alt="" style="object-fit: cover;">
                        </div>
                        <p><b>A working nurse</b></p>
                    </div>
                </div>
            </div>

            <div class="container-xxl py-5 mt-2">
                <div class="container">
                    <div class="row g-5">
                        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="position-relative overflow-hidden h-100" style="max-width: 800px;">
                                <img class="position-absolute w-100 h-100 rounded-2"
                                    src="img/focus/outdoor.webp" alt="" style="object-fit: cover;">
                            </div>
                            <p><b>African Medical Students.</b></p>
                        </div>
                        <div class="col-lg-6 col-md-8 wow fadeIn" data-wow-delay="0.1s">
                            <p class="mb-4 fs-5">Need Help with your Subjects? Mhealth4Africa Digital Academy provides
                                the best digital training
                                services with Professors from highly respected global institutions, colleges and
                                universities like Havard
                                University, Yale University and John Hopkins University in the United States. Also learn
                                exciting new
                                courses in Healthcare Informatics, Leadership (Nursing), Telehealth Nursing, including
                                other learning
                                paths to reach your professional goals and objectives.</p>
                            <p class="fs-4">Start your training today!</p>
                            <a class="btn btn-primary py-2 px-3 mb-4" href="/">
                                Mhealth4Africa Digital Academy
                                <div class="d-inline-flex btn-sm-square bg-white text-primary rounded-circle ms-2">
                                    <i class="fa fa-arrow-right"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="row g-5 mt-2 d-flex justify-content-center">

                    </div>
                </div>

                <!-- Contact Start -->
                <div class="container-xxl py-5">
                    <div class="container">
                        <div class="row g-5">
                            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                                <div class="d-inline-block rounded-pill bg-secondary text-white py-1 px-3 mb-3">Contact
                                    Us</div>
                                <h1 class="display-6 mb-5">If You Have Any Query, Please Contact Us</h1>
                                <form>
                                    <div class="row g-3">
                                        <div class="col-md-6">
                                            <div class="form-floating">
                                                <input type="text" class="form-control" id="name"
                                                    placeholder="Your Name">
                                                <label for="name">Your Name</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-floating">
                                                <input type="email" class="form-control" id="email"
                                                    placeholder="Your Email">
                                                <label for="email">Your Email</label>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-floating">
                                                <input type="text" class="form-control" id="subject"
                                                    placeholder="Subject">
                                                <label for="subject">Subject</label>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-floating">
                                                <textarea class="form-control" placeholder="Leave a message here"
                                                    id="message" style="height: 100px"></textarea>
                                                <label for="message">Message</label>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <button class="btn btn-primary py-2 px-3 me-3">
                                                Send Message
                                                <div
                                                    class="d-inline-flex btn-sm-square bg-white text-primary rounded-circle ms-2">
                                                    <i class="fa fa-arrow-right"></i>
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                                <div class="position-relative overflow-hidden h-100" style="min-height: 400px;">
                                    <img class="position-absolute w-100 h-100 pt-5 pe-5" src="img/focus/paramedics.webp"
                                        alt="" style="object-fit: cover;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Contact End -->