<% layout('layout/home-layout') %>


    <!-- Hero section start -->
    <div class="hero container-fluid d-flex align-items-center justify-content-around">
        <video autoplay loop muted class="custom-video">
            <source src="video/banner2.mp4" type="video/mp4">

            Your browser does not support the video tag.
        </video>
        <div class="row g-5 d-flex justify-content-center">
            <div class="col-lg-8">
                <p class="display-6 text-white mb-3 animated slideInDown text-white">Mhealth4Africa</p>
                <p style="color: white;" class="fs-5 mb-5 animated slideInDown">Our mission is to expand quality
                    healthcare
                    access to under resourced and remote
                    communities through capacity building, innovation, and technology.</p>
                <a class="btn btn-primary py-2 px-3 animated slideInDown" href="/about">
                    Learn More
                    <div class="d-inline-flex btn-sm-square bg-white text-primary rounded-circle ms-2">
                        <i class="fa fa-arrow-right"></i>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- Hero section end -->
    
    <!-- CTA Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="position-relative overflow-hidden h-100" style="min-height: 800px;">
                        <img class="position-absolute w-100 h-100 pt-5 pe-5 rounded-2" src="img/focus/portrait.webp"
                            alt="" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="position-relative overflow-hidden h-100" style="max-width: 800px;">
                        <img class="position-absolute w-100 h-100 pt-5 pe-5 rounded-2" src="img/focus/heart.webp" alt=""
                            style="object-fit: cover;">
                    </div>
                </div>
            </div>
            <div class="row g-5 mt-2 d-flex justify-content-center">
                <div class=" col-lg-12 col-md-8 wow fadeIn" data-wow-delay="0.1s">
                    <p class="mb-4 fs-5">Nurses play a vital role in the life of patients. They work all day and night
                        taking
                        care of patients, giving
                        comfort to their families, and sometimes serving as the closest confidant. Mhealth4Africa
                        salutes our
                        Community Health Workers, Nurses and Health Practitioners who serve at the frontlines in
                        healthcare
                        facilities around the world improving healthcare access and equity. Our programs are tailored
                        towards
                        capacity building, workforce development, innovation and technology to support health
                        practitioners
                        aquire industry relevant skills to continue improving patient care, advancing their careers, and
                        employability.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- CTA End -->

    <!-- Focus Areas Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 800px;">
                <img class="img-fluid w-50 h-50" src="img/about/focus.webp" alt="">
            </div>
        </div>
    </div>
    <!-- Focus Areas End -->

    <div class="container-xxl py-5 mt-2">
        <div class="container">
            <div class="row g-5">
                <p class="fs-4">DIGITAL HEALTH</p>
                <div class="col-lg-6 col-md-8 wow fadeIn" data-wow-delay="0.1s">
                    <p class="mb-4 fs-5">
                        Mhealth4Africa
                        Digital Academy is
                        an opportunity to
                        upgrade your skills
                        and secure career
                        placements in
                        your community
                        or globally.
                        Learning paths for
                        medicine include
                        MD PO and PA
                        programs while learning paths for nursing include NP RN and LPN
                        programs. Another feature of the academy is the Medical College
                        Admission Test (MCAT) and National Council Licensure
                        Examination for Registered Nurses (NCLEX-RN) review courses,
                        lessons, and exam prep, that will give Nurses, Medical Students
                        and Practitioners, a pathway to practice Nursing and Medicine in
                        USA, Canada, and many other countries.</p>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="position-relative overflow-hidden h-100" style="max-width: 800px;">
                        <img class="position-absolute w-100 h-100 rounded-2" src="img/home/diverse.webp" alt=""
                            style="object-fit: cover;">
                    </div>
                    <p><b>Digital Health Education</b></p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-xxl py-5 mt-2">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="position-relative overflow-hidden h-100" style="max-width: 800px;">
                        <img class="position-absolute w-100 h-100 rounded-2" src="img/about/ai.webp" alt=""
                            style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 col-md-8 wow fadeIn" data-wow-delay="0.1s">
                    <p class="mb-4 fs-5">With the advancements of technology in the healthcare
                        industry, it is critical for nurses and healthcare
                        professionals that medical institutions build capacity for
                        the future healthcare workforce. Digital health education
                        is key to accomplishing this goal by making it possible for
                        healthcare professionals to upskill anywhere anytime at
                        their pace to meet new industry demands and
                        requirements. This new approach of personalized learning
                        using digital platforms enables learners from under
                        resourced communities to access a wide range of courses,
                        learning paths, test prep, and certifications to advance
                        their careers.</p>
                    <a class="btn btn-primary py-2 px-3 mb-4" href="https://mhealth4africa.lecturio.com/">
                        Learn More
                        <div class="d-inline-flex btn-sm-square bg-white text-primary rounded-circle ms-2">
                            <i class="fa fa-arrow-right"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-xxl py-5 mt-2">
        <div class="container">
            <div class="row g-5">
                <p class="fs-4">CAPACITY BUILDING &amp; WORKFORCE DEVELOPMENT</p>
                <div class="col-lg-6 col-md-8 wow fadeIn" data-wow-delay="0.1s">
                    <p class="mb-4 fs-5">The deployment of health practitioners in
                        sub-Saharan Africa (SSA) has many
                        challenges including recruitment and
                        placement of medical graduates,
                        physicians, nurses, community health
                        workers especially, in rural areas. This
                        unemployment crisis makes it difficult for
                        most African governments to achieve
                        Universal Healthcare Coverage (UHC) for
                        their citizens.</p>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="position-relative overflow-hidden h-100" style="max-width: 800px;">
                        <img class="position-absolute w-100 h-100 rounded-2" src="img/about/development.webp" alt=""
                            style="object-fit: cover;">
                    </div>
                    <p><b>Digital Health Education</b></p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-xxl py-5 mt-2">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="position-relative overflow-hidden h-100" style="max-width: 800px;">
                        <img class="position-absolute w-100 h-100 rounded-2" src="img/home/looking.webp" alt=""
                            style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 col-md-8 wow fadeIn" data-wow-delay="0.1s">
                    <p class="mb-4 fs-5">If you are looking to make a difference as a doctor, nurse,
                        medical graduate, medical student, or community health
                        worker, join us to expand healthcare delivery in your
                        community. Let’s work together to make Universal Health
                        Coverage a reality. Sign Up as a FRONTLINE HEALTHCARE
                        CHAMPION TODAY!</p>
                    <a class="btn btn-primary py-2 px-3 mb-4" href="/signup">
                        Member Signup
                        <div class="d-inline-flex btn-sm-square bg-white text-primary rounded-circle ms-2">
                            <i class="fa fa-arrow-right"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-xxl py-5 mt-2">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 col-md-8 wow fadeIn" data-wow-delay="0.1s">
                    <p class="mb-4 fs-5">Need Help with your Subjects? Mhealth4Africa Digital Academy provides
                        the best digital training
                        services with Professors from highly respected global institutions, colleges and
                        universities like Havard
                        University, Yale University and John Hopkins University in the United States. Also learn
                        exciting new
                        courses in Healthcare Informatics, Leadership (Nursing), Telehealth Nursing, including
                        other learning
                        paths to reach your professional goals and objectives.</p>
                    <p class="fs-4">Start your training today!</p>
                    <a class="btn btn-primary py-2 px-3 mb-4" href="/academy">
                        Mhealth4Africa Digital Academy
                        <div class="d-inline-flex btn-sm-square bg-white text-primary rounded-circle ms-2">
                            <i class="fa fa-arrow-right"></i>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="position-relative overflow-hidden h-100" style="max-width: 800px;">
                        <img class="position-absolute w-100 h-100 rounded-2" src="img/focus/outdoor.webp" alt=""
                            style="object-fit: cover;">
                    </div>
                    <p><b>African Medical Students.</b></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Contact Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="d-inline-block rounded-pill bg-secondary text-white py-1 px-3 mb-3">Contact
                        Us</div>
                    <h1 class="display-6 mb-5">If You Have Any Query, Please Contact Us</h1>
                    <iframe data-tally-src="https://tally.so/embed/mK6VWM?alignLeft=1&hideTitle=1&transparentBackground=1&dynamicHeight=1" loading="lazy" width="100%" height="200" frameborder="0" marginheight="0" marginwidth="0" title="Contact Form"></iframe><script>var d=document,w="https://tally.so/widgets/embed.js",v=function(){"undefined"!=typeof Tally?Tally.loadEmbeds():d.querySelectorAll("iframe[data-tally-src]:not([src])").forEach((function(e){e.src=e.dataset.tallySrc}))};if("undefined"!=typeof Tally)v();else if(d.querySelector('script[src="'+w+'"]')==null){var s=d.createElement("script");s.src=w,s.onload=v,s.onerror=v,d.body.appendChild(s);}</script>
                    
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="position-relative overflow-hidden h-100" style="min-height: 400px;">
                        <img class="position-absolute w-100 h-100 pt-5 pe-5" src="img/focus/paramedics.webp" alt=""
                            style="object-fit: cover;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->

    <script async src="https://tally.so/widgets/embed.js"></script>