<% layout('layout/layout') %>

    <div class="container-xxl py-3">
        <div class="container">
            <p class="fs-4 text-center">DIGITAL HEALTH INITIATIVE</p>
            <p class="fs-4 text-center">Annual School Health Screenings Pilot</p>
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s">
                <img class="img-fluid w-50 h-50" src="img/boysinblue.jpg" alt="">
            </div>
            <div class="row g-5 mt-2 d-flex justify-content-center">
                <div class=" col-lg-12 col-md-8 wow fadeIn" data-wow-delay="0.1s">
                    <p class=" fs-5">Health issues are among the primary reasons children miss school. With school-based
                        annual health
                        checks, children can get medical care without leaving school. Deploying Community Health Workers
                        and
                        Nurses schools to low-income, medically underserved areas for health screenings, offers an
                        opportunity
                        to improve health care access and equity for school children. Our mission at Mhealth4Africa is
                        to
                        identify and address health, behavioral, social, or developmental concerns which could affect a
                        child’s
                        ability to get the most benefit from school, such as a hearing, sight, or communication
                        difficulty by
                        providing annual health screenings.</p>
                    <p class="fs-5">Do you need to improve healthcare access for your school-age children?
                        Mhealth4Africa through our
                        School Health Screening Pilot aims to expand health access to school aged children. We are
                        looking for
                        partners to help us implement our school health screening pilot program in Kenya, DRC Congo, and
                        Cameroon. We welcome medical missions in the US UK and Canada to join us in this effort or
                        individual
                        Medical Practitioners and team members. If you would like to be a partner or sponsor, please
                        fill out
                        the form below and we will contact you for further information.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-8 wow fadeIn" data-wow-delay="0.1s">
                    <h1 class="display-6">Join Our Team!</h1>
                    <p class="mb-4 fs-5">Thank you for your interest in our Annual School Health Screening Pilot. Tell
                        us how you want to
                        participate. Please submit the following form and we will get back to you as soon as we can.</p>
                    <p class="mb-4 fs-5">Contact Information</p>
                    <iframe
                        data-tally-src="https://tally.so/embed/mZN210?alignLeft=1&hideTitle=1&transparentBackground=1&dynamicHeight=1"
                        loading="lazy" width="100%" height="384" frameborder="0" marginheight="0" marginwidth="0"
                        title="Digital Health Initiatives - Schools"></iframe>
                    <script>var d = document, w = "https://tally.so/widgets/embed.js", v = function () { "undefined" != typeof Tally ? Tally.loadEmbeds() : d.querySelectorAll("iframe[data-tally-src]:not([src])").forEach((function (e) { e.src = e.dataset.tallySrc })) }; if ("undefined" != typeof Tally) v(); else if (d.querySelector('script[src="' + w + '"]') == null) { var s = d.createElement("script"); s.src = w, s.onload = v, s.onerror = v, d.body.appendChild(s); }</script>
                    <!-- <form formId="school-form-digital" action="/submit" method="POST">
                        <input type="hidden" name="formId" value="school-form-digital">
                        <div class="row g-3">
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="schoolName" name="schoolName"
                                        placeholder="Name of School">
                                    <label for="schoolName">Name of School</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="country" name="country"
                                        placeholder="Country">
                                    <label for="country">Country</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="city" name="city" placeholder="City">
                                    <label for="city">City</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="stateProvince" name="stateProvince"
                                        placeholder="State/Province">
                                    <label for="stateProvince">State/Province</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone">
                                    <label for="phone">Phone</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="email" name="email"
                                        placeholder="Your Email">
                                    <label for="email">Your Email</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button class="btn btn-primary py-2 px-3 me-3">
                                    Send Message
                                    <div class="d-inline-flex btn-sm-square bg-white text-primary rounded-circle ms-2">
                                        <i class="fa fa-arrow-right"></i>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </form> -->

                </div>
                <div class="col-lg-8 wow fadeIn" data-wow-delay="0.1s">
                    <p class="mb-4 fs-5">Contact Information</p>
                    <iframe
                        data-tally-src="https://tally.so/embed/mOz7kp?alignLeft=1&hideTitle=1&transparentBackground=1&dynamicHeight=1"
                        loading="lazy" width="100%" height="200" frameborder="0" marginheight="0" marginwidth="0"
                        title="Digital Health Initiatives - Partners"></iframe>
                    <script>var d = document, w = "https://tally.so/widgets/embed.js", v = function () { "undefined" != typeof Tally ? Tally.loadEmbeds() : d.querySelectorAll("iframe[data-tally-src]:not([src])").forEach((function (e) { e.src = e.dataset.tallySrc })) }; if ("undefined" != typeof Tally) v(); else if (d.querySelector('script[src="' + w + '"]') == null) { var s = d.createElement("script"); s.src = w, s.onload = v, s.onerror = v, d.body.appendChild(s); }</script>
                    <!-- <form formId="sponsor-form-digital" action="/submit" method="POST">
                        <input type="hidden" name="formId" value="sponsor-form-digital">
                        <div class="row g-3">
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="sponsorName" name="sponsorName"
                                        placeholder="Name of Organization/Business/Sponsor">
                                    <label for="sponsorName">Name of Organization/Business/Sponsor</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="country" name="country"
                                        placeholder="Country">
                                    <label for="country">Country</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="city" name="city" placeholder="City">
                                    <label for="city">City</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="stateProvince" name="stateProvince"
                                        placeholder="State/Province">
                                    <label for="stateProvince">State/Province</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone">
                                    <label for="phone">Phone</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="email" name="email"
                                        placeholder="Your Email">
                                    <label for="email">Your Email</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button class="btn btn-primary py-2 px-3 me-3">
                                    Send Message
                                    <div class="d-inline-flex btn-sm-square bg-white text-primary rounded-circle ms-2">
                                        <i class="fa fa-arrow-right"></i>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </form> -->

                </div>
            </div>
        </div>
    </div>

    <div class="container-xxl py-3">
        <div class="container">
            <p class="fs-4 text-center"><b>Welcome to Mhealth4Africa Ghetto Art in Healthcare Initiative!</b></p>
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s">
                <img class="img-fluid w-100 h-100" src="img/initiatives/artists.jpg" alt="">
            </div>
            <div class="row g-5 mt-2 d-flex justify-content-center">
                <div class=" col-lg-12 col-md-8 wow fadeIn" data-wow-delay="0.1s">
                    <p class="fs-5">Mhealth4Africa is excited to introduce our Ghetto Art in Healthcare Initiative, a
                        transformative
                        program aimed at empowering street artists to leverage their talent by beautifying the walls of
                        hospitals, clinics, real estate developments, and businesses across the United States. This
                        initiative serves as a beacon of hope, providing marginalized artists with opportunities to
                        showcase their creativity while making a positive impact on healthcare and commercial spaces.
                        Through our Ghetto Art in Healthcare Initiative, we aim to empower artists, promote cultural
                        diversity, and foster a sense of community engagement.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-xxl py-5 mt-2">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 col-md-8 wow fadeIn" data-wow-delay="0.1s">
                    <p class="fs-4">How It Works</p>
                    <p class="mb-4 fs-5">Empowering Street Artists: We identify
                        talented street artists and provide them
                        with opportunities to showcase and sell
                        their artwork in various spaces.</p>
                    <p class="mb-4 fs-5">Creating Healing Environments: By
                        integrating street art into hospitals,
                        clinics, real estate properties, and
                        businesses, we enhance the ambiance of
                        these spaces, promoting healing and
                        well-being.</p>
                    <p class="mb-4 fs-5">Supporting Families: Through the sale of
                        artwork, artists can support themselves
                        and their families, fostering economic
                        stability and independence.</p>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="position-relative overflow-hidden h-100" style="max-width: 800px;">
                        <img class="w-100 h-100 rounded-2 img-fluid" src="img/initiatives/animal.jpg" alt="" style="object-fit: cover;">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-xxl py-5 mt-2">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <p class="fs-4">Our Impact</p>
                    <div class="position-relative overflow-hidden h-100 pb-10">
                        <img class="w-100 h-100 rounded-2 img-fluid" src="img/initiatives/hair.jpg" alt="" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 col-md-8 wow fadeIn" data-wow-delay="0.1s">
                    <p class="mb-4 fs-5 mt-5">Community Engagement: Our initiative fosters a sense of community by
                        bringing together artists, businesses, and the public in support of local
                        talent.</p>
                    <p class="mb-8 fs-5">Artistic Expression: Street art is a powerful form of self-expression. By
                        providing a platform for artists to showcase their work, we celebrate
                        diversity and creativity.</p>
                    <p class="mb-8 fs-5 invisible">Artistic Expression: Street art is a powerful form of
                        self-expression. By
                        providing a platform for artists to showcase their work, we celebrate
                        diversity and creativity.</p>
                    <p class="mb-8 fs-5 invisible">Artistic Expression: Street art is a powerful form of
                        self-expression. By
                        providing a platform for artists to showcase their work, we celebrate
                        diversity and creativity.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-xxl py-5 mt-2">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 col-md-8 wow fadeIn" data-wow-delay="0.1s">
                    <p class="mb-4 fs-5">Healing Through Art: Research shows
                        that exposure to art can have a positive
                        impact on mental and emotional well-
                        being. By incorporating art into healthcare
                        and commercial spaces, we contribute to a
                        healing environment for patients, visitors,
                        and employees alike.</p>
                    <p class="mb-4 fs-5">Promoting Cultural Exchange: The Ghetto
                        Art for Health Initiative promotes cultural
                        exchange by showcasing the diverse
                        perspectives and talents of street artists
                        from marginalized communities.</p>
                    <p class="mb-4 fs-5">Get Involved</p>
                    <p class="mb-4 fs-5">Artists: Are you a street artist looking for
                        opportunities to showcase your work?
                        Join our initiative and gain exposure in
                        hospitals, clinics, real estate properties,
                        and businesses across the US.</p>
                    <p class="mb-4 fs-5">Spaces: Are you a hospital, clinic, real
                        estate property, or business interested in
                        incorporating street art into your
                        environment? Partner with us to enhance
                        your space and support local artists.</p>
                    
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="position-relative overflow-hidden h-100" style="max-width: 800px;">
                        <img class="w-100 h-100 rounded-2 img-fluid" src="img/initiatives/swamp.jpg" alt="" style="object-fit: cover;">
                    </div>
                </div>
            </div>
            <div class="row g-5">
                <div class="col-lg-12 col-md-8 wow fadeIn" data-wow-delay="0.1s">
                    <p class="mb-4 mt-4 fs-5">Supporters: Whether you&#39;re an art enthusiast or simply passionate about
                        community
                        engagement and well-being, you can support our initiative by purchasing artwork, spreading the
                        word, or make a donation.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-xxl py-5 mt-2">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="position-relative overflow-hidden h-100 pb-10">
                        <img class="w-100 h-100 rounded-2 img-fluid" src="img/initiatives/watermark.jpg" alt="" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 col-md-8 wow fadeIn" data-wow-delay="0.1s">
                    <p class="mb-4 fs-5 mt-5">Join Us in Making a Difference</p>
                    <p class="mb-4 fs-5">Together, we can transform spaces, support
                        artists, and promote healing through art. Join
                        Mhealth4Africa Ghetto Art 4 Health Initiative
                        today and be a part of this impactful movement.
                        Contact us to learn more about how you can get
                        involved or to inquire about showcasing artwork
                        in your space. Let&#39;s create and paint a brighter,
                        more vibrant future through the power of art!</p>
                    <p class="mb-4 fs-5">Let’s Build Healthier Communities Together!</p>
                    <p class="mb-4 fs-5">Contact Information</p>
                    <iframe
                        data-tally-src="https://tally.so/embed/mV0zNE?alignLeft=1&hideTitle=1&transparentBackground=1&dynamicHeight=1"
                        loading="lazy" width="100%" height="200" frameborder="0" marginheight="0" marginwidth="0"
                        title="Ghetto Art in Healthcare Initiative - Partners"></iframe>
                    <script>var d = document, w = "https://tally.so/widgets/embed.js", v = function () { "undefined" != typeof Tally ? Tally.loadEmbeds() : d.querySelectorAll("iframe[data-tally-src]:not([src])").forEach((function (e) { e.src = e.dataset.tallySrc })) }; if ("undefined" != typeof Tally) v(); else if (d.querySelector('script[src="' + w + '"]') == null) { var s = d.createElement("script"); s.src = w, s.onload = v, s.onerror = v, d.body.appendChild(s); }</script>

                    <!-- <form formId="partner-form-art" action="/submit" method="POST">
                        <input type="hidden" name="formId" value="partner-form-art">
                        <div class="row g-3">
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="organizationName"
                                        name="organizationName" placeholder="Name of Organization/Institution">
                                    <label for="organizationName">Name of Organization/Institution</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="country" name="country"
                                        placeholder="Country">
                                    <label for="country">Country</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="city" name="city" placeholder="City">
                                    <label for="city">City</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="stateProvince" name="stateProvince"
                                        placeholder="State/Province">
                                    <label for="stateProvince">State/Province</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone">
                                    <label for="phone">Phone</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="email" name="email"
                                        placeholder="Your Email">
                                    <label for="email">Your Email</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button class="btn btn-primary py-2 px-3 me-3">
                                    Send Message
                                    <div class="d-inline-flex btn-sm-square bg-white text-primary rounded-circle ms-2">
                                        <i class="fa fa-arrow-right"></i>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </form> -->
                </div>
            </div>
        </div>
    </div>

    <div class="container-xxl py-5 mt-2">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="position-relative overflow-hidden h-100" style="max-width: 800px;">
                        <img class="w-100 h-100 rounded-2 img-fluid" src="img/initiatives/toolkit.jpg" alt="" style="object-fit: contain;">
                    </div>
                </div>
                <div class="col-lg-6 col-md-8 wow fadeIn" data-wow-delay="0.1s">
                    <p class="fs-4">COMMUNITY HEALTH WORKERS KITS
                        INITIATIVE</p>
                    <p class="mb-4 fs-5">Community Health Workers are the backbone of
                        primary healthcare systems in Africa. Developing
                        and strengthening Community Health Worker
                        programs is part of Mhealth4Africa’s mission
                        through capacity building, digitization, and
                        access to basic primary care Medical Kits. We
                        are looking to partner with medical experts,
                        medical device companies, medical colleges,
                        medical associations, and others in the
                        healthcare skill sector to support capacity
                        building efforts for our Frontline Health
                        Champions.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-8 wow fadeIn" data-wow-delay="0.1s">
                    <h1 class="display-6">Act! Become a Partner</h1>
                    <p class="mb-4 fs-5">Thank you for your interest in our Community Health Workers Kit Initiative.
                        Please submit the following
                        form and we will get back to you as soon as we can.</p>
                    <p class="mb-4 fs-5">Contact Information</p>
                    <iframe
                        data-tally-src="https://tally.so/embed/nP6zrd?alignLeft=1&hideTitle=1&transparentBackground=1&dynamicHeight=1"
                        loading="lazy" width="100%" height="200" frameborder="0" marginheight="0" marginwidth="0"
                        title="Community Health Workers Kits Initiative - Partners"></iframe>
                    <script>var d = document, w = "https://tally.so/widgets/embed.js", v = function () { "undefined" != typeof Tally ? Tally.loadEmbeds() : d.querySelectorAll("iframe[data-tally-src]:not([src])").forEach((function (e) { e.src = e.dataset.tallySrc })) }; if ("undefined" != typeof Tally) v(); else if (d.querySelector('script[src="' + w + '"]') == null) { var s = d.createElement("script"); s.src = w, s.onload = v, s.onerror = v, d.body.appendChild(s); }</script>

                    <!-- <form formId="partner-form-community" action="/submit" method="POST">
                        <input type="hidden" name="formId" value="partner-form-community">
                        <div class="row g-3">
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="organizationName"
                                        name="organizationName" placeholder="Name of Organization/Institution">
                                    <label for="organizationName">Name of Organization/Institution</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="country" name="country"
                                        placeholder="Country">
                                    <label for="country">Country</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="city" name="city" placeholder="City">
                                    <label for="city">City</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="stateProvince" name="stateProvince"
                                        placeholder="State/Province">
                                    <label for="stateProvince">State/Province</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone">
                                    <label for="phone">Phone</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="email" name="email"
                                        placeholder="Your Email">
                                    <label for="email">Your Email</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button class="btn btn-primary py-2 px-3 me-3">
                                    Send Message
                                    <div class="d-inline-flex btn-sm-square bg-white text-primary rounded-circle ms-2">
                                        <i class="fa fa-arrow-right"></i>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </form> -->

                </div>
                <div class="col-lg-8 wow fadeIn" data-wow-delay="0.1s">
                    <h1 class="display-6">Act! Become a Sponsor</h1>
                    <p class="mb-4 fs-5">Contact Information</p>
                    <iframe
                        data-tally-src="https://tally.so/embed/3xpJzJ?alignLeft=1&hideTitle=1&transparentBackground=1&dynamicHeight=1"
                        loading="lazy" width="100%" height="200" frameborder="0" marginheight="0" marginwidth="0"
                        title="Community Health Workers Kits Initiative - Sponsors"></iframe>
                    <script>var d = document, w = "https://tally.so/widgets/embed.js", v = function () { "undefined" != typeof Tally ? Tally.loadEmbeds() : d.querySelectorAll("iframe[data-tally-src]:not([src])").forEach((function (e) { e.src = e.dataset.tallySrc })) }; if ("undefined" != typeof Tally) v(); else if (d.querySelector('script[src="' + w + '"]') == null) { var s = d.createElement("script"); s.src = w, s.onload = v, s.onerror = v, d.body.appendChild(s); }</script>
                    <!-- <form formId="sponsor-form-community" action="/submit" method="POST">
                        <input type="hidden" name="formId" value="sponsor-form-community">
                        <div class="row g-3">
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="organizationName"
                                        name="organizationName" placeholder="Name of Organization/Institution">
                                    <label for="organizationName">Name of Organization/Institution</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="country" name="country"
                                        placeholder="Country">
                                    <label for="country">Country</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="city" name="city" placeholder="City">
                                    <label for="city">City</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="stateProvince" name="stateProvince"
                                        placeholder="State/Province">
                                    <label for="stateProvince">State/Province</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone">
                                    <label for="phone">Phone</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="email" name="email"
                                        placeholder="Your Email">
                                    <label for="email">Your Email</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button class="btn btn-primary py-2 px-3 me-3">
                                    Send Message
                                    <div class="d-inline-flex btn-sm-square bg-white text-primary rounded-circle ms-2">
                                        <i class="fa fa-arrow-right"></i>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </form> -->

                </div>
            </div>
        </div>
    </div>

    <div class="container-xxl py-5 mt-2">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 col-md-8 wow fadeIn" data-wow-delay="0.1s">
                    <p class="fs-4">MHEALTH4AFRICA STUDENT AMBASSADOR
                        INITIATIVE</p>
                    <p class="mb-4 fs-5">The Mhealth4Africa Student Ambassadors Initiative is
                        a student leadership initiative in which current
                        medical students volunteer by serving as liaisons
                        between the Mhealth4Africa organization their
                        medical schools, and other healthcare organizations.
                        Volunteers will meet with Mhealth4Africa monthly to
                        discuss and promote our programs including
                        fundraising activities.</p>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="position-relative overflow-hidden h-100" style="max-width: 800px;">
                        <img class="w-100 h-100 rounded-2 img-fluid" src="img/initiatives/man.jpg" alt="" style="object-fit: contain;">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-8 wow fadeIn" data-wow-delay="0.1s">
                    <h1 class="display-6">Join Our Team!</h1>
                    <p class="mb-4 fs-5">Thank you for your interest in our Mhealth4Africa Student Ambassador
                        Initiative. Please submit the
                        following form and we will get back to you as soon as we can.</p>
                    <p class="mb-4 fs-5">Contact Information</p>
                    <iframe
                        data-tally-src="https://tally.so/embed/mZN2ea?alignLeft=1&hideTitle=1&transparentBackground=1&dynamicHeight=1"
                        loading="lazy" width="100%" height="200" frameborder="0" marginheight="0" marginwidth="0"
                        title="Mhealth4Africa Student Ambassadors Initiative"></iframe>
                    <script>var d = document, w = "https://tally.so/widgets/embed.js", v = function () { "undefined" != typeof Tally ? Tally.loadEmbeds() : d.querySelectorAll("iframe[data-tally-src]:not([src])").forEach((function (e) { e.src = e.dataset.tallySrc })) }; if ("undefined" != typeof Tally) v(); else if (d.querySelector('script[src="' + w + '"]') == null) { var s = d.createElement("script"); s.src = w, s.onload = v, s.onerror = v, d.body.appendChild(s); }</script>
                </div>
            </div>
        </div>
    </div>

    <div class="container-xxl py-5 mt-2">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 col-md-8 wow fadeIn" data-wow-delay="0.1s">
                    <p class="fs-4">INTERNATIONAL STUDENT EXCHANGES INITIATIVE</p>
                    <p class="mb-4 fs-5">Mhealth4Africa aims to build strategic academic
                        partnerships with United States Stakeholders,
                        International Institutions, Industry, and
                        government partners, by initiating, coordinating,
                        and promoting international academic
                        collaboration and exchanges, and to advance
                        the social and economic development
                        relationship between businesses and
                        governmental agencies.</p>
                    <p class="mb-4 fs-5">Our focus is to build partnerships to help solve
                        global medical and health problems by
                        networking with students worldwide through
                        virtual conferences and country exchanges to
                        hear and share group projects, curricula, labs,
                        learn about other healthcare systems and
                        cutting-edge medical innovations. Also
                        collaborate in research activities to increase
                        funding opportunities for Faculty and programs
                        that support technology innovations for
                        industry.</p>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="position-relative overflow-hidden h-100" style="max-width: 800px;">
                        <img class="w-100 h-100 rounded-2 img-fluid" src="img/initiatives/global-ed.webp" alt="" style="object-fit: cover;">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-8 wow fadeIn" data-wow-delay="0.1s">
                    <h1 class="display-6">Act! Become a Partner</h1>
                    <p class="mb-4 fs-5">
                        Please submit the following
                        form and we will get back to you as soon as we can.</p>
                    <p class="mb-4 fs-5">Contact:</p>
                    <iframe
                        data-tally-src="https://tally.so/embed/n9W741?alignLeft=1&hideTitle=1&transparentBackground=1&dynamicHeight=1"
                        loading="lazy" width="100%" height="200" frameborder="0" marginheight="0" marginwidth="0"
                        title="International Student Exchanges Initiative - Partners"></iframe>
                    <script>var d = document, w = "https://tally.so/widgets/embed.js", v = function () { "undefined" != typeof Tally ? Tally.loadEmbeds() : d.querySelectorAll("iframe[data-tally-src]:not([src])").forEach((function (e) { e.src = e.dataset.tallySrc })) }; if ("undefined" != typeof Tally) v(); else if (d.querySelector('script[src="' + w + '"]') == null) { var s = d.createElement("script"); s.src = w, s.onload = v, s.onerror = v, d.body.appendChild(s); }</script>
                    <!-- <form formId="partner-exchange" action="/submit" method="POST">
                        <input type="hidden" name="formId" value="partner-exchange">
                        <div class="row g-3">
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="institutionName" name="institutionName"
                                        placeholder="Name of Institution">
                                    <label for="institutionName">Name of Institution</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="country" name="country"
                                        placeholder="Country">
                                    <label for="country">Country</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="city" name="city" placeholder="City">
                                    <label for="city">City</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="stateProvince" name="stateProvince"
                                        placeholder="State/Province">
                                    <label for="stateProvince">State/Province</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone">
                                    <label for="phone">Phone</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="email" name="email"
                                        placeholder="Your Email">
                                    <label for="email">Your Email</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button class="btn btn-primary py-2 px-3 me-3">
                                    Send Message
                                    <div class="d-inline-flex btn-sm-square bg-white text-primary rounded-circle ms-2">
                                        <i class="fa fa-arrow-right"></i>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </form> -->

                </div>
                <div class="col-lg-8 wow fadeIn" data-wow-delay="0.1s">
                    <h1 class="display-6">Act! Become a Sponsor</h1>
                    <p class="mb-4 fs-5">
                        Please submit the following
                        form and we will get back to you as soon as we can.</p>
                    <p class="mb-4 fs-5">Contact:</p>
                    <iframe
                        data-tally-src="https://tally.so/embed/3qdRzd?alignLeft=1&hideTitle=1&transparentBackground=1&dynamicHeight=1"
                        loading="lazy" width="100%" height="200" frameborder="0" marginheight="0" marginwidth="0"
                        title="International Student Exchanges Initiative - Sponsors"></iframe>
                    <script>var d = document, w = "https://tally.so/widgets/embed.js", v = function () { "undefined" != typeof Tally ? Tally.loadEmbeds() : d.querySelectorAll("iframe[data-tally-src]:not([src])").forEach((function (e) { e.src = e.dataset.tallySrc })) }; if ("undefined" != typeof Tally) v(); else if (d.querySelector('script[src="' + w + '"]') == null) { var s = d.createElement("script"); s.src = w, s.onload = v, s.onerror = v, d.body.appendChild(s); }</script>

                    <!-- <form formId="sponsor-exchange" action="/submit" method="POST">
                        <input type="hidden" name="formId" value="sponsor-exchange">
                        <div class="row g-3">
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="institutionName"
                                        placeholder="Name of Institution">
                                    <label for="institutionName">Name of Institution</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="country" placeholder="Country">
                                    <label for="country">Country</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="city" placeholder="City">
                                    <label for="city">City</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="stateProvince"
                                        placeholder="State/Province">
                                    <label for="stateProvince">State/Province</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="phone" placeholder="Phone">
                                    <label for="phone">Phone</label>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="email" placeholder="Your Email">
                                    <label for="email">Your Email</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button class="btn btn-primary py-2 px-3 me-3">
                                    Send Message
                                    <div class="d-inline-flex btn-sm-square bg-white text-primary rounded-circle ms-2">
                                        <i class="fa fa-arrow-right"></i>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </form> -->
                </div>
            </div>
        </div>
    </div>