<% layout('layout/layout') %>

    <!-- Contact Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <h1 class="display-6 mb-5">Are you a Junior Doctor, Health Practitioner, or
                        an Institution?</h1>
                    <p class="mb-4">If you are looking for an opportunity to become a Frontline Healthcare Champion with
                        Mhealth4Africa, improve your professional skills and employability with pathways to success in
                        healthcare delivery and practice, explore our Mhealth4frica Digital Academy to learn more.</p>
                    <a class="btn btn-primary py-2 px-3 mb-4" href="/">
                        Mhealth4Africa Digital Academy
                        <div class="d-inline-flex btn-sm-square bg-white text-primary rounded-circle ms-2">
                            <i class="fa fa-arrow-right"></i>
                        </div>
                    </a>
                    <p class="mb-4">Improve Healthcare Services Through Digital Education</p>
                    <p class="mb-4">Become a Global Medical Practitioner</p>
                    <p class="mb-4">Sign Up below.</p>
                    <form>
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="name" placeholder="Your Name">
                                    <label for="name">Your Name</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="email" placeholder="Your Email">
                                    <label for="email">Your Email</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="subject"
                                        placeholder="Registration Number">
                                    <label for="subject">License Number</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="file" class="form-control" id="subject" placeholder="Subject">
                                    <label for="subject">Upload your picture</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary py-2 px-3 me-3">
                                    Send Message
                                    <div class="d-inline-flex btn-sm-square bg-white text-primary rounded-circle ms-2">
                                        <i class="fa fa-arrow-right"></i>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="position-relative overflow-hidden h-100" style="min-height: 400px;">
                        <img class="position-absolute w-100 h-100 pt-5 pe-5" src="img/practitioner.webp" alt=""
                            style="object-fit: cover;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->