<% layout('layout/layout') %>

    <!-- Member Signup Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 800px;">
                <img class="img-fluid w-50 h-50" src="img/membership/membership.webp" alt="">
            </div>
            <div class="row g-4 justify-content-center">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item bg-white text-center h-100 p-4 p-xl-5">
                        <img class="img-fluid mb-4" src="img/stethoscope.jpg" alt="">
                        <h4 class="mb-3">Community Health Workers</h4>
                        <a class="btn btn-outline-primary px-3" href="/communityhealth">
                            Click Here
                            <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                                <i class="fa fa-arrow-right"></i>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item bg-white text-center h-100 p-4 p-xl-5">
                        <img class="img-fluid mb-4" src="img/together.webp" alt="">
                        <h4 class="mb-3">Nurses</h4>
                        <a class="btn btn-outline-primary px-3" href="/nurses">
                            Click Here
                            <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                                <i class="fa fa-arrow-right"></i>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row g-4 justify-content-center">
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="service-item bg-white text-center h-100 p-4 p-xl-5">
                            <img class="img-fluid mb-4" src="img/focus/generation.webp" alt="">
                            <h4 class="mb-3">Medical Students</h4>
                            <a class="btn btn-outline-primary px-3" href="/students">
                                Click Here
                                <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                                    <i class="fa fa-arrow-right"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="service-item bg-white text-center h-100 p-4 p-xl-5">
                            <img class="img-fluid mb-4" src="img/emergency.jpg" alt="">
                            <h4 class="mb-3">Health Practitioners and Institutions</h4>
                            <a class="btn btn-outline-primary px-3" href="/practice">
                                Click Here
                                <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                                    <i class="fa fa-arrow-right"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Member Signup End -->