<% layout('layout/layout') %>

    <!-- Member Signup Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 800px;">
                <img class="img-fluid w-50 h-50" src="img/membership/membership.webp" alt="">
            </div>
            <div class="row g-4 justify-content-center">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item bg-white text-center h-100 p-4 p-xl-5">
                        <img class="img-fluid mb-4" src="img/membership/CommunityHealth.png" alt="">
                        <h4 class="mb-3">Community Health Workers</h4>
                        <a class="btn btn-outline-primary px-3" href="/communityhealth">
                            Click Here
                            <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                                <i class="fa fa-arrow-right"></i>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item bg-white text-center h-100 p-4 p-xl-5">
                        <img class="img-fluid mb-4" src="img/membership/nurses.png" alt="">
                        <h4 class="mb-3">Nurses</h4>
                        <a class="btn btn-outline-primary px-3" href="/nurses">
                            Click Here
                            <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                                <i class="fa fa-arrow-right"></i>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row g-4 justify-content-center">
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="service-item bg-white text-center h-100 p-4 p-xl-5">
                            <img class="img-fluid mb-4" src="img/membership/people.png" alt="">
                            <h4 class="mb-3">Medical Students</h4>
                            <a class="btn btn-outline-primary px-3" href="/students">
                                Click Here
                                <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                                    <i class="fa fa-arrow-right"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="service-item bg-white text-center h-100 p-4 p-xl-5">
                            <img class="img-fluid mb-4" src="img/membership/medical.png" alt="">
                            <h4 class="mb-3">Health Practitioners and Institutions</h4>
                            <a class="btn btn-outline-primary px-3" href="/practice">
                                Click Here
                                <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                                    <i class="fa fa-arrow-right"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- cta -->
        <div class="container mt-5">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <h1 class="display-6 mb-5">Are you a Community Health Worker?</h1>
            </div>
            <div class="row g-4 justify-content-center">
                <p class="mb-0 fs-5 col-lg-8">
                    If you are looking for an opportunity to become a Frontline Healthcare Champion with
                    Mhealth4Africa, improve your professional skills with pathways to success in healthcare
                    delivery and practice, explore our Mhealth4frica Digital Academy to learn more.
                </p>
                <div class="d-flex justify-content-center">
                    <a class="btn btn-primary py-2 px-3" href="/">
                        Mhealth4africa Digital Academy
                        <div class="d-inline-flex btn-sm-square bg-white text-primary rounded-circle ms-2">
                            <i class="fa fa-arrow-right"></i>
                        </div>
                    </a>
                </div>
                <div class="d-flex justify-content-center">
                    <p class="mb-0 fs-5">
                        Improve Healthcare Services Through Digital Education
                    </p>
                </div>
                <div class="d-flex justify-content-center">
                    <p class="mb-0 fs-5">
                        Become a Global Community Health Worker
                    </p>
                </div>
                <div class="d-flex justify-content-center">
                    <p class="mb-0 fs-5">
                        Sign Up below.
                    </p>
                </div>
            </div>
        </div>
        <!-- cta -->

        <div class="container mt-5">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <h1 class="display-6 mb-5">Are you a Nurse?</h1>
            </div>
            <div class="row g-4 justify-content-center">
                <p class="mb-0 fs-5 col-lg-8">
                    If you are looking for an opportunity to become a Frontline Healthcare Champion with
                    Mhealth4Africa, improve your professional skills and employability with pathways to
                    success in healthcare delivery and practice, explore our Mhealth4frica Digital Academy
                    to learn more.
                </p>
                <div class="d-flex justify-content-center">
                    <a class="btn btn-primary py-2 px-3" href="/">
                        Mhealth4africa Digital Academy
                        <div class="d-inline-flex btn-sm-square bg-white text-primary rounded-circle ms-2">
                            <i class="fa fa-arrow-right"></i>
                        </div>
                    </a>
                </div>
                <div class="d-flex justify-content-center">
                    <p class="mb-0 fs-5">
                        Improve Healthcare Services Through Digital Education
                    </p>
                </div>
                <div class="d-flex justify-content-center">
                    <p class="mb-0 fs-5">
                        Become a Global Nurse
                    </p>
                </div>
                <div class="d-flex justify-content-center">
                    <p class="mb-0 fs-5">
                        Sign Up below.
                    </p>
                </div>
            </div>
        </div>

        <div class="container mt-5">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <h1 class="display-6 mb-5">Are you a Medical Student?</h1>
            </div>
            <div class="row g-4 justify-content-center">
                <p class="mb-0 fs-5 col-lg-8">
                    If you are looking for an opportunity to become a Frontline Healthcare Champion with
                    Mhealth4Africa, improve your professional skills and employability with pathways to
                    success in healthcare delivery and practice, explore our Mhealth4frica Digital Academy
                    to learn more.
                </p>
                <div class="d-flex justify-content-center">
                    <a class="btn btn-primary py-2 px-3" href="/">
                        Mhealth4africa Digital Academy
                        <div class="d-inline-flex btn-sm-square bg-white text-primary rounded-circle ms-2">
                            <i class="fa fa-arrow-right"></i>
                        </div>
                    </a>
                </div>
                <div class="d-flex justify-content-center">
                    <p class="mb-0 fs-5">
                        Improve Healthcare Services Through Digital Education
                    </p>
                </div>
                <div class="d-flex justify-content-center">
                    <p class="mb-0 fs-5">
                        Become an International Medical Graduate
                    </p>
                </div>
                <div class="d-flex justify-content-center">
                    <p class="mb-0 fs-5">
                        Sign Up below.
                    </p>
                </div>
            </div>
        </div>

        <div class="container mt-5">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <h1 class="display-6 mb-5">Are you a Junior Doctor, Health Practitioner, or
                    an Institution?</h1>
            </div>
            <div class="row g-4 justify-content-center">
                <p class="mb-0 fs-5 col-lg-8">
                    If you are looking for an opportunity to become a Frontline Healthcare Champion with
                    Mhealth4Africa, improve your professional skills and employability with pathways to success in
                    healthcare delivery and practice, explore our Mhealth4frica Digital Academy to learn more.
                </p>
                <div class="d-flex justify-content-center">
                    <a class="btn btn-primary py-2 px-3" href="/">
                        Mhealth4africa Digital Academy
                        <div class="d-inline-flex btn-sm-square bg-white text-primary rounded-circle ms-2">
                            <i class="fa fa-arrow-right"></i>
                        </div>
                    </a>
                </div>
                <div class="d-flex justify-content-center">
                    <p class="mb-0 fs-5">
                        Improve Healthcare Services Through Digital Education
                    </p>
                </div>
                <div class="d-flex justify-content-center">
                    <p class="mb-0 fs-5">
                        Become a Global Doctor
                    </p>
                </div>
                <div class="d-flex justify-content-center">
                    <p class="mb-0 fs-5">
                        Sign Up below.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Member Signup End -->