<% layout('layout/layout') %>

    <div class="container-xxl py-3">
        <div class="container">
            <p class="fs-2 text-center">PARTNER WITH US * MAKE A DONATION * BECOME A SPONSOR</p>
            <div class="row g-5 mt-2 d-flex justify-content-center">
                <div class="col-lg-6 col-md-8 wow fadeIn" data-wow-delay="0.1s">
                    <p class="fs-3">JOIN US TO EXPAND
                        ESSENTIAL HEALTHCARE
                        SERVICES AND HEALTH
                        EQUITY TO RESOURCE POOR
                        COMMUNITIES THROUGH OUR
                        INITIATIVES. LET’S MAKE A
                        DIFFERENCE TOGETHER.</p>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="position-relative overflow-hidden h-100">
                        <img class="position-absolute w-100 h-100 rounded-2" src="img/initiatives/world.jpg" alt=""
                            style="object-fit: cover;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-xxl py-3">
        <div class="container">
            <div class="row g-5 mt-2 d-flex justify-content-center">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="position-relative overflow-hidden h-100">
                        <img class="position-absolute w-100 h-100 rounded-2" src="img/boysinblue.jpg" alt=""
                            style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 col-md-8 wow fadeIn" data-wow-delay="0.1s">
                    <p class="fs-3">SUPPORT OUR SCHOOL SCREENING PILOT</p>
                    <p class="fs-3">PARTNER WITH US</p>
                    <p class="fs-3">MAKE A DONATION</p>
                    <p class="fs-3">Learn more…</p>
                    <a class="btn btn-outline-primary px-3" href="/initiatives">
                        Initiatives
                        <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                            <i class="fa fa-arrow-right"></i>
                        </div>
                    </a>
                    <a class="btn btn-outline-primary px-3" href="/donate">
                        Donate
                        <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                            <i class="fa fa-arrow-right"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-xxl py-3">
        <div class="container">
            <div class="row g-5 mt-2 d-flex justify-content-center">
                <div class="col-lg-6 col-md-8 wow fadeIn" data-wow-delay="0.1s">
                    <p class="fs-3">SPONSOR A COMMUNITY HEALTH
                        WORKER KIT</p>
                    <p class="fs-3">Learn more….</p>
                    <a class="btn btn-outline-primary px-3" href="/initiatives">
                        Initiatives
                        <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                            <i class="fa fa-arrow-right"></i>
                        </div>
                    </a>
                    <a class="btn btn-outline-primary px-3" href="/donate">
                        Donate
                        <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                            <i class="fa fa-arrow-right"></i>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="position-relative overflow-hidden h-100">
                        <img class="position-absolute w-100 h-100 rounded-2" src="img/initiatives/toolkit.jpg" alt=""
                            style="object-fit: cover;">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-xxl py-3">
        <div class="container">
            <div class="row g-5 mt-2 d-flex justify-content-center">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="position-relative overflow-hidden h-100">
                        <img class="position-absolute w-100 h-100 rounded-2" src="img/initiatives/man.jpg" alt=""
                            style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 col-md-8 wow fadeIn" data-wow-delay="0.1s">
                    <p class="fs-3">MHEALTH4AFRICA STUDENT AMBASSADOR
                        INITIATIVE</p>
                    <p class="fs-3">MAKE A DONATION</p>
                    <p class="fs-3">Learn more….</p>
                    <a class="btn btn-outline-primary px-3" href="/initiatives">
                        Initiatives
                        <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                            <i class="fa fa-arrow-right"></i>
                        </div>
                    </a>
                    <a class="btn btn-outline-primary px-3" href="/donate">
                        Donate
                        <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                            <i class="fa fa-arrow-right"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-xxl py-3">
        <div class="container">
            <div class="row g-5 mt-2 d-flex justify-content-center">
                <div class="col-lg-6 col-md-8 wow fadeIn" data-wow-delay="0.1s">
                    <p class="fs-3">PARTNER WITH US</p>
                    <p class="fs-3">INTERNATIONAL STUDENT
                        EXCHANGES INITIATIVE</p>
                    <p class="fs-3">Learn more….</p>
                        <a class="btn btn-outline-primary px-3" href="/initiatives">
                            Initiatives
                            <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                                <i class="fa fa-arrow-right"></i>
                            </div>
                        </a>
                        <a class="btn btn-outline-primary px-3" href="/donate">
                            Donate
                            <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                                <i class="fa fa-arrow-right"></i>
                            </div>
                        </a>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="position-relative overflow-hidden h-100">
                        <img class="position-absolute w-100 h-100 rounded-2" src="img/initiatives/global-ed.webp" alt=""
                            style="object-fit: cover;">
                    </div>
                </div>
            </div>
        </div>
    </div>