<% layout('layout/layout') %>

    <div class="container-xxl py-3">
        <div class="container">
            <p class="fs-2 text-center">PARTNER WITH US * MAKE A DONATION * BECOME A SPONSOR</p>
            <div class="row g-5 mt-2 d-flex justify-content-center">
                <div class="col-lg-6 col-md-8 wow fadeIn" data-wow-delay="0.1s">
                    <p class="fs-3">JOIN US TO EXPAND
                        ESSENTIAL HEALTHCARE
                        SERVICES AND HEALTH
                        EQUITY TO RESOURCE POOR
                        COMMUNITIES THROUGH OUR
                        INITIATIVES. LET’S MAKE A
                        DIFFERENCE TOGETHER.</p>
                        <p class="mb-8 fs-5 invisible">Artistic Expression: Street art is a powerful form of
                            self-expression. By
                            providing a platform for artists to showcase their work, we celebrate
                            diversity and creativity.</p>
                        <p class="mb-8 fs-5 invisible">Artistic Expression: Street art is a powerful form of
                            self-expression. By
                            providing a platform for artists to showcase their work, we celebrate
                            diversity and creativity.</p>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="position-relative overflow-hidden h-100">
                        <img class="w-100 h-100 rounded-2 img-fluid" src="img/initiatives/world.jpg" alt="" style="object-fit: cover;">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-xxl py-3">
        <div class="container">
            <div class="row g-5 mt-2 d-flex justify-content-center">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="position-relative overflow-hidden h-100">
                        <img class="w-100 h-100 rounded-2 img-fluid" src="img/boysinblue.jpg" alt=""
                            style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 col-md-8 wow fadeIn" data-wow-delay="0.1s">
                    <p class="fs-3">SUPPORT OUR SCHOOL SCREENING PILOT</p>
                    <p class="fs-3">PARTNER WITH US</p>
                    <p class="fs-3">MAKE A DONATION</p>
                    <p>Supporting Mhealth4Africa's Annual School Health Screening Pilot program in Kenya is crucial for promoting the well-being of children in underserved communities. By donating or sponsoring this initiative, you're enabling access to vital healthcare services such as vaccinations, vision and hearing screenings, and health education sessions, which can significantly improve the overall health and academic performance of these children. Your contribution not only ensures immediate healthcare needs are met but also fosters long-term benefits by creating a healthier generation with enhanced opportunities for academic success and future prosperity.</p>
                    
                    <a class="btn btn-outline-primary px-3" href="/initiatives">
                        Initiatives
                        <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                            <i class="fa fa-arrow-right"></i>
                        </div>
                    </a>
                    <a class="btn btn-outline-primary px-3" href="/donate">
                        Donate
                        <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                            <i class="fa fa-arrow-right"></i>
                        </div>
                    </a>
                    <p class="mb-8 fs-5 invisible">Artistic Expression: Street art is a powerful form of
                        self-expression. By
                        providing a platform for artists to showcase their work, we celebrate
                        diversity and creativity.</p>
                    <p class="mb-8 fs-5 invisible">Artistic Expression: Street art is a powerful form of
                        self-expression. By
                        providing a platform for artists to showcase their work, we celebrate
                        diversity and creativity.</p>
                        <p class="mb-8 fs-5 invisible">Artistic Expression: Street art is a powerful form of
                            self-expression. By
                            providing a platform for artists to showcase their work, we celebrate
                            diversity and creativity.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-xxl py-3">
        <div class="container">
            <div class="row g-5 mt-2 d-flex justify-content-center">
                <div class="col-lg-6 col-md-8 wow fadeIn" data-wow-delay="0.1s">
                    <p class="fs-3">SPONSOR A COMMUNITY HEALTH
                        WORKER KIT</p>
                        <p>Your donation or sponsorship to Mhealth4Africa's Community Health Workers Kit Initiative will play a crucial role in empowering frontline healthcare providers across Africa. These kits provide essential tools and resources tailored to the unique needs of community health workers, enabling them to deliver vital healthcare services effectively. From basic medical supplies to innovative technology solutions, your contribution will directly enhance their ability to diagnose, treat, and educate communities, ultimately improving healthcare access and outcomes for countless individuals in underserved areas. Join us in making a tangible difference in the lives of those who need it most.</p>
                    
                    <a class="btn btn-outline-primary px-3" href="/initiatives">
                        Initiatives
                        <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                            <i class="fa fa-arrow-right"></i>
                        </div>
                    </a>
                    <a class="btn btn-outline-primary px-3" href="/donate">
                        Donate
                        <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                            <i class="fa fa-arrow-right"></i>
                        </div>
                    </a>
                    <p class="mb-8 fs-5 invisible">Artistic Expression: Street art is a powerful form of
                        self-expression. By
                        providing a platform for artists to showcase their work, we celebrate
                        diversity and creativity.</p>
                    <p class="mb-8 fs-5 invisible">Artistic Expression: Street art is a powerful form of
                        self-expression. By
                        providing a platform for artists to showcase their work, we celebrate
                        diversity and creativity.</p>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="position-relative overflow-hidden h-100">
                        <img class="w-100 h-100 rounded-2 img-fluid" src="img/initiatives/toolkit.jpg" alt=""
                            style="object-fit: cover;">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-xxl py-3">
        <div class="container">
            <div class="row g-5 mt-2 d-flex justify-content-center">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="position-relative overflow-hidden h-100">
                        <img class="w-100 h-100 rounded-2 img-fluid" src="img/initiatives/man.jpg" alt=""
                            style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 col-md-8 wow fadeIn" data-wow-delay="0.1s">
                    <p class="fs-3">MHEALTH4AFRICA STUDENT AMBASSADOR
                        INITIATIVE</p>
                    <p class="fs-3">MAKE A DONATION</p>
                    <p>Your donation or sponsorship to Mhealth4Africa's Student Ambassadors Initiative will directly empower young leaders in Africa to champion health innovation and education within their communities. These funds will provide essential resources such as training materials, technology tools, and networking opportunities, enabling these student ambassadors to drive impactful change in healthcare accessibility, awareness, and quality across the continent. By supporting this initiative, you are investing in the future of healthcare in Africa, fostering a new generation of passionate advocates committed to improving the well-being of their fellow citizens.</p>
                    
                    <a class="btn btn-outline-primary px-3" href="/initiatives">
                        Initiatives
                        <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                            <i class="fa fa-arrow-right"></i>
                        </div>
                    </a>
                    <a class="btn btn-outline-primary px-3" href="/donate">
                        Donate
                        <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                            <i class="fa fa-arrow-right"></i>
                        </div>
                    </a>
                    <p class="mb-8 fs-5 invisible">Artistic Expression: Street art is a powerful form of
                        self-expression. By
                        providing a platform for artists to showcase their work, we celebrate
                        diversity and creativity.</p>
                    <p class="mb-8 fs-5 invisible">Artistic Expression: Street art is a powerful form of
                        self-expression. By
                        providing a platform for artists to showcase their work, we celebrate
                        diversity and creativity.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-xxl py-3">
        <div class="container">
            <div class="row g-5 mt-2 d-flex justify-content-center">
                <div class="col-lg-6 col-md-8 wow fadeIn" data-wow-delay="0.1s">
                    <p class="fs-3">PARTNER WITH US</p>
                    <p class="fs-3">INTERNATIONAL STUDENT
                        EXCHANGES INITIATIVE</p>
                        <p>Your donation or sponsorship to Mhealth4Africa's International Student Exchanges Initiative will play a pivotal role in fostering global collaboration and knowledge exchange in the field of Digital Health. By supporting this initiative, you are directly enabling students from diverse backgrounds to participate in enriching exchange programs, where they will have the opportunity to learn from international experts, share innovative ideas, and gain hands-on experience in Digital Health projects worldwide. Your contribution will facilitate the development of future leaders in the field, empowering them to address pressing healthcare challenges and drive positive change in communities across Africa and beyond. Together, we can amplify the impact of Digital Health interventions and pave the way for a healthier and more connected world.</p>
                    
                    <a class="btn btn-outline-primary px-3" href="/initiatives">
                        Initiatives
                        <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                            <i class="fa fa-arrow-right"></i>
                        </div>
                    </a>
                    <a class="btn btn-outline-primary px-3" href="/donate">
                        Donate
                        <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                            <i class="fa fa-arrow-right"></i>
                        </div>
                    </a>
                    <p class="mb-8 fs-5 invisible">Artistic Expression: Street art is a powerful form of
                        self-expression. By
                        providing a platform for artists to showcase their work, we celebrate
                        diversity and creativity.</p>
                    <p class="mb-8 fs-5 invisible">Artistic Expression: Street art is a powerful form of
                        self-expression. By
                        providing a platform for artists to showcase their work, we celebrate
                        diversity and creativity.</p>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="position-relative overflow-hidden h-100">
                        <img class="w-100 h-100 rounded-2 img-fluid" src="img/initiatives/global-ed.webp" alt=""
                            style="object-fit: cover;">
                    </div>
                </div>
            </div>
        </div>
    </div>