<% layout('layout/layout') %>



    <!-- Team Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <div class="d-inline-block rounded-pill bg-secondary text-white py-1 px-3 mb-3">MHEALTH4AFRICA Team
                    Members</div>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-8 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item position-relative rounded overflow-hidden">
                        <div class="overflow-hidden">
                            <img class="img-fluid w-100 h-100" src="img/1.webp" alt="">
                        </div>
                        <div class="team-text bg-light text-center p-4">
                            <h5>Patience Emeni</h5>
                            <p class="text-primary">President/CEO MHEALTH4AFRICA</p>
                        </div>
                        <!-- Button trigger modal -->
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#patienceModal">
                                Learn More
                            </button>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="patienceModal" tabindex="-1" aria-labelledby="patienceModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="patienceModalLabel">About Patience Emeni
                                        </h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Patience Emeni, (SMAC) is President/CEO at <a
                                                href="https://mhealth4africa.com/" target="_blank">Mhealth4Africa</a>, a
                                            woman owned firm that is eligible for sole-source U.S. government grants.
                                            She is an independent International Development consultant with expertise in
                                            stakeholder engagement, government relations and business development. Her
                                            vast experience includes high level engagements with African government
                                            institutions, US public and private institutions in the areas of Health
                                            (Telemedicine), Education, Women and Youth. Ms. Emeni completed courses
                                            towards a master’s degree in international Peace and Conflict Resolution
                                            from the School of International Service at American University in
                                            Washington DC. She holds a Bachelor of Arts degree from Fourah Bay College
                                            in Sierra Leone. She is a United Nations Association/National Capital Area
                                            Fellow from American University. A Certified Scrum Master, Patience has also
                                            earned certificates from Havard X in Strengthening of Community Health
                                            Worker Programs and a COVID 19 Tracing Certificate from John Hopkins
                                            University.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="team-item position-relative rounded overflow-hidden">
                        <div class="overflow-hidden">
                            <img class="img-fluid w-100 h-100" src="img/2.webp" alt="">
                        </div>
                        <div class="team-text bg-light text-center p-4">
                            <h5>Richard Emeni </h5>
                            <p class="text-primary">FOUNDER, USA</p>
                        </div>
                        <!-- Button trigger modal -->
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#richardModal">
                                Learn More
                            </button>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="richardModal" tabindex="-1" aria-labelledby="richardModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="richardModalLabel">About Richard Emeni</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Richard Emeni is the FOUNDER/CEO Africa Directory Services
                                            He has extensive knowledge and experience in African economics,
                                            business and is a highly valued business consultant for US-African trade and
                                            investment. He studied Management of Global Information Technology at the
                                            Kogod School of Business, American University Washington DC, with a BS in
                                            Statistics from International Institute of Statistics and Applied Economics
                                            (ISPEA) Yaoundé, Cameroon. As Founder, President, and VP of R&D,
                                            Mhealth4Africa (MH4A), he oversees research and development for Digital
                                            Health in Sub-Saharan Africa. Richard was the Census Supervisor in the SW
                                            region for the Cameroon Ministry of Plan and Regional Development in the
                                            Ministry of Economy and Finance, a field -researcher for the Economic
                                            Commission on Africa, and Media Consultant to the World Bank’s Africa
                                            External Affairs department. Economy and Finance, a field -researcher for
                                            the Economic Commission on Africa, and a leading Media Consultant to the
                                            World Bank’s Africa External Affairs department. He is fluent in English and
                                            French.
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="team-item position-relative rounded overflow-hidden">
                        <div class="overflow-hidden">
                            <img class="img-fluid w-100 h-100" src="img/3.webp" alt="">
                        </div>
                        <div class="team-text bg-light text-center p-4">
                            <h5>Charles Botwick, USA</h5>
                            <p class="text-primary">Partner – IPAKFLUKITS</p>
                        </div>

                        <!-- Button trigger modal -->
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#charlesModal">
                                Learn More
                            </button>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="charlesModal" tabindex="-1" aria-labelledby="charlesModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="charlesModalLabel">About Charles Botwick
                                        </h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <b>Charles Botwick is a renowned Water Chemist and Disaster Mitigation
                                            and Response Specialist. He has responded to Disasters and related
                                            problems for over 40 years. He has been involved in designing,
                                            manufacturing, and providing special first aid kits, hygiene kits,
                                            mobile water purification units and trauma medical kits around the world
                                            providing water purification, reclamation, and retention in countries
                                            including Africa. He is the Founder of Individual Personal and Kits
                                            Company IPAKFLUKITS.</b>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row g-4">
                <div class="col-lg-4 col-md-8 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item position-relative rounded overflow-hidden">
                        <div class="overflow-hidden">
                            <img class="img-fluid w-100 h-100" src="img/4.webp" alt="">
                        </div>
                        <div class="team-text bg-light text-center p-4">
                            <h5>Dr. Cedric Mabela</h5>
                            <p class="text-primary">Team Lead DRC Congo Liberia Sierra Leone</p>
                        </div>

                        <!-- Button trigger modal -->
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#cedricModal">
                                Learn More
                            </button>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="cedricModal" tabindex="-1" aria-labelledby="cedricModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="cedricModalLabel">About Dr. Cedric Mabela
                                        </h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Dr. Cedric Mabela is a Physician, Philanthropist, and Public Health officer
                                            and consultant with extensive experience in Clinical Practice, Hospital
                                            Management, and Global Health. He has worked in post conflict countries for
                                            the governments of Sierra Leone, Liberia, and the Democratic Republic of
                                            Congo. As Medical Director, Dr. Mabela provided outpatient consultations in
                                            under resourced communities and coordinated International Medical Missions
                                            providing in country training to Doctors, Nurses and Volunteers in Sierra
                                            Leone and Liberia. Dr. Mabela has a diploma in Drug safety-pharmacovigilance
                                            and is a graduate of the School of Public Health at the University of
                                            Nevada, United States.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="team-item position-relative rounded overflow-hidden">
                        <div class="overflow-hidden">
                            <img class="img-fluid w-100 h-100" src="img/5.webp" alt="">
                        </div>
                        <div class="team-text bg-light text-center p-4">
                            <h5>Dr. Samuel Lee Hancock, CM</h5>
                            <p class="text-primary">USA, Emerald Planet, Emerald TV, Advisor</p>
                        </div>

                        <!-- Button trigger modal -->
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#hancockModal">
                                Learn More
                            </button>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="hancockModal" tabindex="-1" aria-labelledby="hancockModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="hancockModalLabel">About Dr. Samuel Lee
                                            Hancock</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Dr. Samuel Lee Hancock, CM, President & Executive Director, Emerald
                                            Planet International Foundation a world-wide environmental, economic,
                                            and community development movement with its headquarters in Washington,
                                            D.C. Dr. Hancock has an earned doctorate with special concentrations in
                                            management, international economics, and political science from Virginia
                                            Polytechnic Institute & State University (Virginia Tech), Blacksburg,
                                            Virginia. He is a Certified Professional Manager [CM]. The world-wide
                                            EmeraldPlanet International Foundation movement is linking millions of
                                            professionals and citizens around the globe through a practical
                                            community-by-community identification, evaluation, broadcasting, and
                                            promotions weekly television program and selected The Emerald
                                            Mini-Treks. EmeraldPlanet International Foundation has continually
                                            expanded its outreach and service to all sectors of countries and local
                                            communities.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="team-item position-relative rounded overflow-hidden">
                        <div class="overflow-hidden">
                            <img class="img-fluid w-100 h-100" src="img/6.webp" alt="">
                        </div>
                        <div class="team-text bg-light text-center p-4">
                            <h5>Dr. Rosa Moddathir Gadelmawla</h5>
                            <p class="text-primary">Sudan, Advisor</p>
                        </div>

                        <!-- Button trigger modal -->
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#moddathirModal">
                                Learn More
                            </button>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="moddathirModal" tabindex="-1" aria-labelledby="moddathirModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="moddathirModalLabel">About Dr. Rosa Moddathir
                                            Gadelmawla Mohammad</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Dr. Rosa MG Mohammad is a compassionate medical doctor registered General
                                            Practitioner with the Rwanda Medical and Dental Council (RMDC) as well as
                                            the Sudan Medical Council with a successful background in the diagnosis,
                                            treatment, and management. She earned a degree in Medicine and Surgery from
                                            Bakht Al-Ruda University, Ed Dueim Sudan. She has served as Internal
                                            Medicine ICU Resident at Aflaj General Hospital, Riyadh, KSA, and ICU
                                            Medical Officer, at Shan Ai Hospital Omdurman, Sudan. Dr. Rosa is an asset
                                            to our team of doctors with experience of practice in conflict zones.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row g-4">
                <div class="col-lg-4 col-md-8 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item position-relative rounded overflow-hidden">
                        <div class="overflow-hidden">
                            <img class="img-fluid w-100 h-100" src="img/7.webp" alt="">
                        </div>
                        <div class="team-text bg-light text-center p-4">
                            <h5>Dr. Mwanza Nangunia </h5>
                            <p class="text-primary">DRC CONGO - Advisor</p>
                        </div>

                        <!-- Button trigger modal -->
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#nanguniaModal">
                                Learn More
                            </button>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="nanguniaModal" tabindex="-1" aria-labelledby="nanguniaModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="nanguniaModalLabel">About Dr. Mwanza Nangunia
                                        </h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Dr. Mwanza Nangunia is the Founder and Pediatrician of the Friendly
                                            Children’s Hospital Clinic dedicated to the care of children with Sickle
                                            Cell and Malaria in South Kivu. He has over 20 years of experience in
                                            the medical field as a pediatrician specializing in Sickle Cell Disease.
                                            Dr. Nangunia’s vast experience includes Minister of Health of South
                                            Kivu, Chief of Staff, Faculty of the School of Medicine, Evangelical
                                            University of Africa, private consultant at the Skyborn hospital and
                                            pediatric physician at PANZI Reference General Hospital. He currently
                                            manages Sickle Cell Disease and Malaria Prevention Programs for the
                                            Providence of South Kivu and is the head of the Little Child Friendly
                                            Clinic of the Umbrella Foundation.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="team-item position-relative rounded overflow-hidden">
                        <div class="overflow-hidden">
                            <img class="img-fluid w-100 h-100" src="img/8.webp" alt="">
                        </div>
                        <div class="team-text bg-light text-center p-4">
                            <h5>Dr. Roderigue Kenmogne</h5>
                            <p class="text-primary">Advisor, Rwanda/Cameroon</p>
                        </div>

                        <!-- Button trigger modal -->
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#kenmogneModal">
                                Learn More
                            </button>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="#kenmogneModal" tabindex="-1" aria-labelledby="#kenmogneModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="#kenmogneModalLabel">About Dr. Roderigue
                                            Kenmogne
                                        </h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Dr. Kenmogne is a practicing Physician with the Rwanda Ministry of Health
                                            as General Practitioner in hospitals and clinics since 2013. He has also
                                            served in different capacities including, Medical Chief of Staff, Head
                                            of Maternity Department, HIV/TB/Malaria clinician, family planning and
                                            Gender base violence focal person, as well as patient consultations,
                                            diagnosis, prescriptions, health education, monitoring of patients in
                                            wards, and surgical interventions. Dr. Kenmonge also works with United
                                            Nations Development Program (UNDP) as a UN Physician/Health Manager
                                            (Temporary Consultant) since 2018. In 2020 he also worked as a UN Doctor
                                            focal point for Ebola Virus Disease, participated in developing
                                            protocols in the management of EVD and recently, was involved in
                                            Covid-19 vaccination for Rwanda UN staff and dependents as UN Physician
                                            medical coordinator. Dr Kenmongne is a graduate of the school Medicine
                                            and Surgery from the University of Rwanda.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="team-item position-relative rounded overflow-hidden">
                        <div class="overflow-hidden">
                            <img class="img-fluid w-100 h-100" src="img/9.webp" alt="">
                        </div>
                        <div class="team-text bg-light text-center p-4">
                            <h5>Gloria Igihozo</h5>
                            <p class="text-primary">Volunteer Advisor RWANDA</p>
                        </div>

                        <!-- Button trigger modal -->
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#gloriaModal">
                                Learn More
                            </button>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="gloriaModal" tabindex="-1" aria-labelledby="gloriaModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="gloriaModalLabel">About Gloria Igihozo</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Gloria Igihozo is a Lecturer, in Health Management and
                                            Global Health Delivery at the University of Global Health
                                            Equity, Rwanda. She graduated with a Master’s degree in
                                            Managing Global Health Delivery from the University of
                                            Global Health Equity, Rwanda and a Bachelor’s degree in
                                            Biochemistry from Messiah College, in Pennsylvania, USA.
                                            A rising global health leader, Gloria hopes to use her
                                            knowledge and skills to address the health services
                                            accessibility gaps in rural and remote areas of sub-Saharan Africa. In
                                            the future, she hopes to specialize
                                            in women and adolescent health.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row g-4">
                <div class="col-lg-4 col-md-8 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item position-relative rounded overflow-hidden">
                        <div class="overflow-hidden">
                            <img class="img-fluid w-100 h-100" src="img/10.webp" alt="">
                        </div>
                        <div class="team-text bg-light text-center p-4">
                            <h5>Dr. Charles Dechateau Ndeumeni</h5>
                            <p class="text-primary">Advisor – USA/Cameroon</p>
                        </div>

                        <!-- Button trigger modal -->
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#ndeumeniModal">
                                Learn More
                            </button>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="ndeumeniModal" tabindex="-1" aria-labelledby="ndeumeniModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="ndeumeniModalLabel">About Dr. Charles
                                            Dechateau Ndeumeni</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Dr. Charles D Ndemeni, has over 15 years of experience as a Physician,
                                            Researcher and Educator. He is CEO of RESBBI (Research Beyond Barriers
                                            International) and Professor of Medicine and Health Sciences, Surgeon
                                            Oncologist, Clinical Research Administrator, and Project Manager. He is
                                            also an International Medical consultant and a Fellow of the Academy of
                                            Physicians in Clinical Research. Dr. Ndemeni has a PhD in Oncology from
                                            R. E. KAVETSKY INSTITUTE OF EXPERIMENTAL PATHOLOGY, ONCOLOGY AND
                                            RADIOLOGY, Kiev, Ukraine, a Fellowship in Cancer Surgery from UKRANIAN
                                            RESEARCH INSTITUTE OF ONCOLOGY AND RADIOLOGY, Kiev, Ukraine, a M.S.
                                            in Clinical Research Administration and Facial Surgery KIEV STATE
                                            INSTITUTE FOR ADVANCED MEDICAL TRAINING OR PHYSICIANS OF USSR, MD in
                                            Somatology
                                            from LVOV STATE MEDICAL INSTITUTE, Lvov, Ukraine, and Associate in
                                            Biology from YAOUNDE
                                            UNIVERSITY, Yaoundé,
                                            Cameroon.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="team-item position-relative rounded overflow-hidden">
                        <div class="overflow-hidden">
                            <img class="img-fluid w-100 h-100" src="img/11.webp" alt="">
                        </div>
                        <div class="team-text bg-light text-center p-4">
                            <h5>Dr. Stephanie Djuigoui Tambom</h5>
                            <p class="text-primary">RWANDA/CAMEROON - Advisor </p>
                        </div>

                        <!-- Button trigger modal -->
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#tambomModal">
                                Learn More
                            </button>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="tambomModal" tabindex="-1" aria-labelledby="tambomModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="tambomModalLabel">About Gloria Igihozo</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Dr. Tambom is a General Medical Practitioner in Rwanda with a degree in
                                            medicine and Surgery from the University of Rwanda. Since 2016, she has
                                            worked as a doctor in a variety of roles including maternal and child
                                            health, immunization focal person, and elaboration of improvement plan of
                                            quality health delivery.
                                            She currently works as doctor mainly in preventive and curative
                                            consultations, diagnosis, care plan, monitoring of patients in wards, health
                                            education, minors and majors’ surgical interventions, supervision of health
                                            centers. Conducting basic analysis of data for reports. She also
                                            collaborates in health promotion through distribution of information,
                                            education and communication materials to health facilities and communities
                                            for health awareness campaigns.
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->