<% layout('layout/layout') %>



    <!-- Team Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <div class="d-inline-block rounded-pill bg-secondary text-white py-1 px-3 mb-3">MHEALTH4AFRICA Team
                    Members</div>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-8 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item position-relative rounded overflow-hidden">
                        <div class="overflow-hidden">
                            <img class="img-fluid w-100 h-100" src="img/1.png" alt="">
                        </div>
                        <div class="team-text bg-light text-center p-4">
                            <h5>Patience Emeni</h5>
                            <p class="text-primary">President/CEO MHEALTH4AFRICA</p>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#patienceModal">
                                Learn More
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="patienceModal" tabindex="-1"
                                aria-labelledby="patienceModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="patienceModalLabel">About Patience Emeni
                                            </h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <b>
                                                Patience Emeni is the President/CEO at Mhealth4Africa, a
                                                woman owned firm that is eligible for sole-source U.S. government
                                                grants. She is an independent International Development consultant with
                                                expertise in stakeholder engagement, government relations and business
                                                development. Ms. Emeni completed courses towards a master’s degree in
                                                international
                                                Peace and Conflict Resolution from the School of International Service
                                                at American University in Washington DC. She holds a Bachelor of Arts
                                                degree from Fourah Bay College in Sierra Leone. She is a United Nations
                                                Association/National Capital Area Fellow from American University. A
                                                Certified Scrum Master, Patience has also earned certificates from
                                                Havard X in Strengthening of Community
                                                Health Worker Programs and a COVID 19 Tracing Certificate from John
                                                Hopkins University.
                                            </b>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="team-item position-relative rounded overflow-hidden">
                        <div class="overflow-hidden">
                            <img class="img-fluid w-100 h-100" src="img/2.png" alt="">
                        </div>
                        <div class="team-text bg-light text-center p-4">
                            <h5>Richard Emeni </h5>
                            <p class="text-primary">FOUNDER/CEO Africa Directory Services</p>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#richardModal">
                                Learn More
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="richardModal" tabindex="-1" aria-labelledby="richardModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="richardModalLabel">About Richard Emeni</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <b>Richard Emeni has extensive knowledge and experience in African
                                                economics, business and is a highly valued business consultant for
                                                US-African trade and investment. He studied Management of Global
                                                Information
                                                Technology at the Kogod School of Business, American University
                                                Washington DC, with a BS in Statistics from International Institute of
                                                Statistics and Applied Economics (ISPEA) Yaoundé, Cameroon. As Founder,
                                                President, and Chief Operating Officer of Mhealth4Africa (MH4A) he
                                                oversees research, and development for digital health. Richard was the
                                                Census Supervisor in the SW region for the Cameroon Ministry of Plan and
                                                Regional Development in the Ministry of Economy and Finance, a field -
                                                researcher for the Economic Commission on Africa, and Media Consultant
                                                to the World Bank’s Africa
                                                External Affairs department.</b>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="team-item position-relative rounded overflow-hidden">
                        <div class="overflow-hidden">
                            <img class="img-fluid w-100 h-100" src="img/3.png" alt="">
                        </div>
                        <div class="team-text bg-light text-center p-4">
                            <h5>Charles Botwick</h5>
                            <p class="text-primary">Partner – IPAKFLUKITS</p>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#charlesModal">
                                Learn More
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="charlesModal" tabindex="-1" aria-labelledby="charlesModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="charlesModalLabel">About Charles Botwick
                                            </h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <b>Charles Botwick is a renowned Water Chemist and Disaster Mitigation
                                                and Response Specialist. He has responded to Disasters and related
                                                problems for over 40 years. He has been involved in designing,
                                                manufacturing, and providing special first aid kits, hygiene kits,
                                                mobile water purification units and trauma medical kits around the world
                                                providing water purification, reclamation, and retention in countries
                                                including Africa. He is the Founder of Individual Personal and Kits
                                                Company IPAKFLUKITS.</b>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-8 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item position-relative rounded overflow-hidden">
                        <div class="overflow-hidden">
                            <img class="img-fluid w-100 h-100" src="img/4.png" alt="">
                        </div>
                        <div class="team-text bg-light text-center p-4">
                            <h5>Dr. Cedric Mabela</h5>
                            <p class="text-primary">Team Lead DRC Congo Liberia Sierra Leone</p>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#cedricModal">
                                Learn More
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="cedricModal" tabindex="-1" aria-labelledby="cedricModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="cedricModalLabel">About Dr. Cedric Mabela
                                            </h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <b>Dr. Cedric Mabela is a Physician, Philanthropist, and public health
                                                officer with extensive experience in Clinical Practice, Hospital
                                                Management, and Global Health. He has worked in post conflict
                                                countries for the governments of Sierra Leone, Liberia, and the
                                                Democratic Republic of Congo. As Medical Director, Dr. Mabela
                                                provided outpatient consultations in under resourced communities
                                                and coordinated International Medical Missions providing in country
                                                training to Doctors, Nurses and Volunteers in Sierra Leone and
                                                Liberia. Dr. Mabela has a diploma in Drug safety-pharmacovigilance, and
                                                has a Master’s in Public Health at the University of Nevada, Reno
                                                USA.</b>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="team-item position-relative rounded overflow-hidden">
                        <div class="overflow-hidden">
                            <img class="img-fluid w-100 h-100" src="img/5.png" alt="">
                        </div>
                        <div class="team-text bg-light text-center p-4">
                            <h5>Gloria Igihozo</h5>
                            <p class="text-primary">Volunteer Advisor RWANDA</p>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#gloriaModal">
                                Learn More
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="gloriaModal" tabindex="-1" aria-labelledby="gloriaModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="gloriaModalLabel">About Gloria Igihozo</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <b>Gloria Igihozo is Lecturer, in Health Management and
                                                Global Health Delivery at the University of Global Health
                                                Equity, Rwanda. She graduated with a Master’s degree in
                                                Managing Global Health Delivery from the University of
                                                Global Health Equity, Rwanda and a Bachelor’s degree in
                                                Biochemistry from Messiah College, in Pennsylvania, USA.
                                                A rising global health leader, Gloria hopes to use her
                                                knowledge and skills to address the health services
                                                accessibility gaps in rural and remote areas of sub-Saharan Africa. In
                                                the future, she hopes to specialize
                                                in women and adolescent health.</b>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="team-item position-relative rounded overflow-hidden">
                        <div class="overflow-hidden">
                            <img class="img-fluid w-100 h-100" src="img/6.png" alt="">
                        </div>
                        <div class="team-text bg-light text-center p-4">
                            <h5>Dr. Charles Dechateau Ndeumeni MD, MS, PhD, FAPCR</h5>
                            <p class="text-primary">Advisor – USA/Cameroon</p>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#ndeumeniModal">
                                Learn More
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="ndeumeniModal" tabindex="-1"
                                aria-labelledby="ndeumeniModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="ndeumeniModalLabel">About Dr. Charles
                                                Dechateau Ndeumeni</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <b>Dr. Charles D Ndemeni, has over 15 years of experience as a Physician,
                                                Researcher and Educator. He is CEO of RESBBI (Research Beyond Barriers
                                                International) and Professor of Medicine and Health Sciences, Surgeon
                                                Oncologist, Clinical Research Administrator, and Project Manager. He is
                                                also an International Medical consultant and a Fellow of the Academy of
                                                Physicians in Clinical Research. Dr. Ndemeni has a PhD in Oncology from
                                                R. E. KAVETSKY INSTITUTE OF EXPERIMENTAL PATHOLOGY, ONCOLOGY AND
                                                RADIOLOGY, Kiev, Ukraine, a Fellowship in Cancer Surgery from UKRANIAN
                                                RESEARCH INSTITUTE OF ONCOLOGY AND RADIOLOGY, Kiev, Ukraine, a M.S.
                                                in Clinical Research Administration and Facial Surgery KIEV STATE
                                                INSTITUTE FOR ADVANCED MEDICAL TRAINING OR PHYSICIANS OF USSR, MD in
                                                Somatology
                                                from LVOV STATE MEDICAL INSTITUTE, Lvov, Ukraine, and Associate in
                                                Biology from YAOUNDE
                                                UNIVERSITY, Yaoundé,
                                                Cameroon.</b>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->