<% layout('layout/layout') %>

  <div class="container">
    <h1 class="mt-5">Terms of Service</h1>
    <p>Effective Date: March 14, 2024</p>
    <hr>
    <p>Welcome to Mhealth4Africa. By using our website, you agree to comply with and be bound by the following Terms of
      Service. If you do not agree to these terms, please do not use our website.</p>
    <h2>User Accounts:</h2>
    <p><strong>a. Account Responsibility:</strong> You are responsible for maintaining the confidentiality of your
      account information, including your password.</p>
    <p><strong>b. Account Termination:</strong> We reserve the right to terminate accounts for any reason at our sole
      discretion.</p>
    <h2>User Conduct:</h2>
    <p><strong>a. Prohibited Actions:</strong> Users must not engage in any activities that are harmful to the website,
      other users, or third parties.</p>
    <h2>Intellectual Property:</h2>
    <p><strong>a. Content Ownership:</strong> All content on the website, including text, graphics, logos, and images,
      is the property of Mhealth4Africa.</p>
    <p><strong>b. Use Restrictions:</strong> Users may not reproduce, distribute, or display any portion of the website
      without prior written consent.</p>
    <h2>Website Modifications:</h2>
    <p><strong>a. Changes to Content:</strong> We reserve the right to modify, suspend, or discontinue any part of the
      website at any time.</p>
    <h2>Limitation of Liability:</h2>
    <p>Mhealth4Africa is not liable for any damages arising from the use or inability to use the website.</p>
    <h2>Governing Law:</h2>
    <p>These Terms of Service are governed by and construed in accordance with the laws of [Your Country/Region].</p>
    <h2>Changes to Terms of Service:</h2>
    <p>We reserve the right to update or modify these Terms of Service at any time. The effective date will be amended
      accordingly.</p>
    <h2>Contact Us:</h2>
    <p>If you have any questions or concerns regarding these Terms of Service, please contact us at <a
        href="mailto:mobilehealth4africa@gmail.com">mobilehealth4africa@gmail.com</a>.</p>
  </div>